.mch-keywork-support {

}

@media (min-width: 48em) {
  .mch-keywork-support {
    [class*='mch-block-'] {
      float: left;
    }

    .mch-block-1, .mch-block-3, .mch-block-5 {
      width: 29.5%;
      margin-right: .5%;
    }

    .mch-block-2, .mch-block-4, .mch-block-6 {
      width: 69.5%;
      margin-left: .5%;
    }
  }
}
