body.mch-services [class*='mch-block-'] { margin-bottom: $margin-xs; }

body.mch-services .mch-block-5 {
  width: 95%;
  margin: 0 auto;
}

body.mch-services .mch-inset {
  background-color: $mauve-light;
  color: $white;
  box-shadow: inset 0 0 .5rem $dark;

  a { color: $white; }
}

body.mch-services .hidden-info { display: none; }

@media (min-width: 34em) {
  body.mch-services .mch-block-5 { width: 80%; }
}

@media (min-width: 48em) {
  body.mch-services [class*='mch-block-'] {
    float: left;
    margin-bottom: $margin-md;
  }

  body.mch-services .mch-block-1 {
    width: 32%;
    margin-right: $margin-md / 2;
  }

  body.mch-services .mch-block-2 {
    width: 67%;
    margin-left: $margin-md / 2;
  }

  body.mch-services .mch-block-3.mch-thumb, body.mch-services .mch-block-4.mch-thumb { width: 49.5%; }
  body.mch-services .mch-block-3.mch-thumb { margin-right: $margin-md / 2; }
  body.mch-services .mch-block-4.mch-thumb { margin-left: $margin-md / 2; }

  body.mch-services .mch-block-5 {
    float: none;
    width: 60%;
  }
}

@media (min-width: 62em) {
  body.mch-services .mch-block-1 { width: 36%; }
  body.mch-services .mch-block-2 { width: 63%; }
}
