body.mch-services {
  [class*='mch-block-'] {
    position: relative;
    margin: 0 1% 1%;
  }

  .mch-block-1.mch-inset, .mch-block-3.mch-inset, .mch-block-5.mch-inset {
    background-color: $mauve-light;
    color: $white;
    box-shadow: 0 0 .5rem $dark inset;

    a { color: $white; }
  }

  .mch-block-7 div, .mch-block-8 div, .mch-block-9 div {
    padding-top: 0;

    @extend .icon-md-round;

    ::before {
      font-size: 2.6rem;
      color: $mauve-light;
      border-radius: 2.6rem;
      margin-bottom: $halfSpace;
    }
  }

  .hidden-info { display: none; }

  ul.mch-block-5 { list-style-type: none; }
}

@media (min-width: 48em) {
  body.mch-services {
    [class*='mch-block-'] {
      float: left;
    }

    .mch-block-1, .mch-block-3, .mch-block-5, .mch-block-7 { clear: left; }
    .mch-block-2, .mch-block-4, .mch-block-6 { clear: right; }
    .mch-block-1, .mch-block-5 { margin-right: 0; }
    .mch-block-1 { max-width: 30%; }
    .mch-block-2 { max-width: 67%; }

    .mch-block-3 {
      max-width: 47%;
      margin-left: 0;
      left: 52%;
    }

    .mch-block-4 {
      max-width: 50%;
      right: 48%;
    }

    .mch-block-5 {
      width: 50%;
      max-width: 50%;

      li:nth-child(5), li:nth-child(6), li:nth-child(7), li:nth-child(8) { display: none; }
    }

    .mch-block-6 { max-width: 47%; }
    .mch-block-7 { margin-right: .5%; }

    .mch-block-7, .mch-block-8, .mch-block-9 {
      max-width: 32%;

      div { vertical-align: top; }
    }

    .mch-block-8 {
      margin-left: .5%;
      margin-right: .5%;
    }

    .mch-block-9 { margin-left: .5%; }
  }
}

@media (min-width: 62em) {
  body.mch-services {
    .mch-block-1 { max-width: 34%; }
    .mch-block-2 { max-width: 63%; }

    .mch-block-5 li:nth-child(5), .mch-block-5 li:nth-child(6), .mch-block-5 li:nth-child(7),
    .mch-block-5 li:nth-child(8) { display: block; }
  }
}

@media (min-width: 75em) {
  body.mch-services {
    .mch-block-1 { max-width: 36%; }
    .mch-block-2 { max-width: 61%; }
  }
}
