<div class="container mch-about-us">
  <div class="row">

    <aside class="col-xs-12 col-lg-3 col-lg-push-9">
      <h3>Links</h3>
      <nav class="mch-links">
        <a href="/about-us/our-staff">Our Staff</a>
        <a href="/about-us/training">Training</a>
        <a href="/about-us/quotes">Quotes</a>
        <a href="/about-us/ofsted-report-quotes">Ofsted Quotes</a>
      </nav>
    </aside>

    <div class="col-xs-12 col-lg-6">
      <div class="row">

        <section class="col-xs-12">
          <h3>Our Homes</h3>
          <p>Our homes provide a comfortable, non-institutional environment for young people to
            begin to work towards their future and independence, or return to home or to alternative
            carers. We are committed to and support the implementation of Care Plans for short,
            medium and long term placements.</p>
          <p><a href="/our-homes">See our home here</a></p>
        </section>

        <section class="col-xs-12">
          <h3>Our Tools</h3>
          <p>We have developed many tools such as our own Placement Plans (in line with Standard 2
            of the Minimum Standards for Children's Homes), which enables us to work closely with
            the young people to encourage and devise appropriate Care Plans identifying their
            current and future needs.</p>
          <p><a href="/contact-us">Contact us for more information</a></p>
        </section>

        <section class="col-xs-12">
          <h3>National Care Standards</h3>
          <p>Since the implementation of the National Care Standards in April 2002, My Choice has
            established a very positive relationship with the Commission. We work in partnership
            with all our Placing Authorities believing open and constant communication between the
            Home, Young Person, Parents, Families and the Social Worker is essential to ensure
            effective and safe childcare.</p>
          <p>
            <a href="http://www.gov.scot/Topics/Health/Support-Social-Care/Regulate/Standards"
               target="_blank">
              National Care Standards
            </a>
          </p>
        </section>

        <section class="col-xs-12">
          <h3>Supportive Framework</h3>
          <p>Every young person brings with them unique life experiences and as such we treat all as
            individuals, being very clear about their specific needs.</p>
          <p>We look after the young person, not the perceived problem.</p>
          <p>Our service seeks to provide an effective and supportive framework for Young People who
            would otherwise be hard to place.</p>
          <p><a href="/services">More information on our services</a></p>
        </section>

        <div class="col-xs-12">
          <blockquote>
            <p>Every member of our team, whether RSW, Care Manager, Maintenance Worker, Office worker
              or Director, wants to be the best. We work hard to attract and retain truly talented
              people. People who share the same vision and approach, who help our young people to be
              the best that they can.</p>
            <p>We believe that our people underpin our strategic direction, provide a great energy,
              approachability and service excellence. Here at My Choice we embrace a culture where
              people can flourish and develop through hard work and commitment.</p>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-3 col-lg-pull-9">
      <div class="row">

        <figure class="col-xs-12 col-sm-6 col-lg-12 figure">
          <img class="figure-img img-fluid img-thumbnail"
               src="/assets/images/about-us/alex.jpg"
               alt="alex my choice homes">

          <figcaption class="figure-caption">Alex has over 20 years experience working with children
            who display emotional and challenging behaviour. His professional experience includes
            working with adults who have left Local Authority care and those experiencing mental
            health difficulties. Alex has worked within the voluntary, public and private sectors.
            He has considerable management experience of various residential homes ranging in size
            from 3 to 7 bedded. Trained at Caldecott College (accredited by Greenwich University) he
            achieved a Graduate Certificate in Therapeutic Childcare.
          </figcaption>
        </figure>

        <figure class="col-xs-12 col-sm-6 col-lg-12 figure">
          <img class="figure-img img-fluid img-thumbnail"
               src="/assets/images/about-us/placeholder.jpg"
               alt="peter my choice homes">

          <figcaption class="figure-caption">Peter has over 20 years experience working with older
            adults with neuro-disabilities and young people with emotional and behavioural
            difficulties. He has managed homes and was Deputy Head of Care within a special needs
            school for children with a Statement of Special Educational Needs. He is a graduate from
            the University of Sussex in Applied Psychology and is part qualified with an Advanced
            Diploma in Therapeutic Counselling. Peter is the Responsible Person for the Company and
            Ofsted.
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
