<section class="mch-block-1 mch-inset">
  <h2 class="mch-ellipses">about my choice homes</h2>
  <p>Comfortable, non-institutional environments for young people.</p>
</section>

<figure class="mch-block-2 mch-figure mch-slider">
  <img src="/assets/images/about-us/about-us-part.jpg" align="my choice homes">

  <figcaption>
    Here at My Choice we embrace cultures
  </figcaption>
</figure>

<section class="hidden-slider">
  <h3>Vision & Approach</h3>
  <p>Every member of our team, whether RSW, Care Manager, Maintenance Worker, Office worker or
    Director, wants to be the best. We work hard to attract and retain truly talented people.
    People who share the same vision and approach, who help our young people to be the best that
    they can.</p>
  <p>We believe that our people underpin our strategic direction, provide a great energy,
    approachability and service excellence. Here at My Choice we embrace a culture where people
    can flourish and develop through hard work and commitment.</p>
</section>

<section class="mch-block-3">
  <h2>Our Homes</h2>

  <p>Our homes provide a comfortable, non-institutional environment for young people to begin to
    work towards their future and independence, or return to home or to alternative carers. We are
    committed to and support the implementation of Care Plans for short, medium and long term
    placements.</p>
  <p><a href="/our-homes">See our home here</a></p>
</section>

<section class="mch-block-4">
  <h2>Our Tools</h2>

  <p>We have developed many tools such as our own Placement Plans (in line with Standard 2 of the
    Minimum Standards for Children's Homes), which enables us to work closely with the young
    people to encourage and devise appropriate Care Plans identifying their current and future
    needs.</p>
  <p><a href="/contact-us">Contact us for more information</a></p>
</section>

<section class="mch-block-5">
  <h2>National Care Standards</h2>

  <p>Since the implementation of the National Care Standards in April 2002, My Choice has
    established a very positive relationship with the Commission. We work in partnership with all
    our Placing Authorities believing open and constant communication between the Home, Young
    Person, Parents, Families and the Social Worker is essential to ensure effective and safe
    childcare.</p>
  <p><a href="http://www.gov.scot/Topics/Health/Support-Social-Care/Regulate/Standards"
        target="_blank">National Care Standards</a></p>
</section>

<section class="mch-block-6">
  <h2>Supportive Framework</h2>

  <p>Every young person brings with them unique life experiences and as such we treat all as
    individuals, being very clear about their specific needs.</p>
  <p>We look after the young person, not the perceived problem.</p>
  <p>Our service seeks to provide an effective and supportive framework for Young People who would
    otherwise be hard to place.</p>
  <p><a href="/services">More information on our services</a></p>
</section>
