<figure class="mch-block-1">
  <img src="/assets/images/services/group.jpg" alt="key working">
</figure>

<section class="mch-block-2">
  <h3>Key working</h3>

  <p>A key worker is a named member of staff who has the main coordinator role in respect of a
    particular young person; this will include the monitoring and review of the placement planning
    and recording systems. The role includes working with the staff team to meet young peoples
    social and emotional needs in a way that promotes dignity, choice and independence.</p>
  <p>The key worker, by working alongside the homes manager, should ensure that all the young
    peoples records are adequately set up and recording is taking place within My Choice policies
    and procedures. The key worker is responsible for establishing and maintaining an appropriate
    relationship with the young people and collating information required to keep the placement
    planning up to date. My Choice homes has a comprehensive key worker guide to advise all staff
    within this role and their responsibilities.</p>
  <p>All staff within the team are responsible for completing the weekly report which is monitored
    by the homes manager, once complete this report is sent to the young persons social worker.</p>
  <p>The report provides the social worker with an up to date over view of the young persons
    progress, contact and any issues that have occurred during the week.</p>
</section>

<figure class="mch-block-3">
  <img src="/assets/images/services/bench.jpg" alt="support">
</figure>

<section class="mch-block-4">
  <h3>Support</h3>

  <p>At My Choice Children's Homes we provide a comprehensive support package to both the young
    people and staff team. This consists of a range of services that include a 24 hour on call
    support system, therapeutic intervention, individual care plans and a reward programme designed
    to help the young person meet their goals. We have a comprehensive in-house training package
    designed to ensure that the staff team maintain and promote good practice.</p>
  <p>The senior Management provides a 24 Hour On Call Support System to all the homes in our group.
    The on call offers telephone advice where appropriate or in person when needed. In the event of
    a member of staff recognising that additional intervention is needed, they will contact the on
    call person. We offer this level of support in order to defuse difficult situations or in the
    event of a young person going into crisis. It is also intended to minimise the need to call in
    outside agencies, in particular the police. We make every effort not to criminalise the
    behaviours of the young people in our care.</p>
</section>

<figure class="mch-block-5">
  <img src="/assets/images/services/pool.jpg" alt="commitment">
</figure>

<section class="mch-block-6">
  <h3>Commitment</h3>

  <p>We are committed to this service as it reassures both the staff and the young people.</p>
  <p>Adrian Adams is our independent Regulation 33 visitor. Each home has an unannounced visit every
    month’. Copies of his reports are available on request. Again his role is designed to ensure the
    welfare of the young people are monitored and policies are maintained.</p>
  <p>Debbie Woodgate is our practice manager her role is to work closely and directly with the homes
    managers and staff teams, reviewing and implementing strategies, plans, risk and behaviour
    assessments. This is to ensure effective intervention and high quality care is provided at all
    times.</p>
  <p>Each home has a qualified Registered Care Manager. They are responsible for the day to day
    running of the home and ensuring that we maintain the required standards at all times. Their
    role outside of normal working hours is to offer advice and on call support.</p>
  <p>In addition to any therapy that young people are already attending before they come to us, My
    Choice provides Therapeutic Input where appropriate.</p>

  <p><strong>Young people have access to therapists</strong> for example:</p>

  <ul>
    <li>Play Therapist</li>
    <li>Child psychologists</li>
    <li>Psychologist and Art Therapy</li>
  </ul>

  <p>We work with the Dialogue Centre based in Brighton, Sussex and refer our young people to this
    setting if therapy is requested or required. We also access and work closely with CAMHs and a
    variety of other professionals including a child psychologist.</p>
  <p><a href="/contact-us">More detailed information regarding this is available upon
    request.</a></p>
</section>
