<div class="container-fluid mch-services">

  <!-- section a -->
  <div class="row section-a">
    <div class="col-xs-12 col-md-4">
      <div class="mauve-lighter-bg text-xs-center">
        <span class="iconic" data-glyph="ellipses" title="ofsted" aria-hidden="true"></span>
        <p>All of our homes are registered with Ofsted and we provide twenty-four hour residential
          support.</p>
        <span class="iconic" data-glyph="ellipses" title="24 hour" aria-hidden="true"></span>
        <a class="small" href="/services/keywork-support">Find out more</a>
      </div>
    </div>

    <figure class="col-xs-12 col-md-8 mch-figure">
      <img class="grayscale-on" src="/assets/images/services/services-part.jpg" alt="services">
      <figcaption>
        <span class="iconic iconic-md hidden-xs-down view-more" data-glyph="chevron-right"
              title="chevron right"
              aria-hidden="true"></span>
        Twenty-four hour support
      </figcaption>
    </figure>

    <div class="more-info text-xs-center">
      <span class="iconic" data-glyph="ellipses" title="ofsted" aria-hidden="true"></span>
      <p>Each home is located in a residential area. It is our policy to provide homes for young
        people within the community. We do not advertise their presence nor do we seek to stigmatise
        the young people through the use of institutionalised signs outside the homes.</p>
      <span class="iconic" data-glyph="ellipses" title="ofsted" aria-hidden="true"></span>
    </div>
  </div>

  <!-- section b -->
  <div class="row section-b">
    <div class="col-xs-12 col-md-6 col-md-push-6">
      <div class="mauve-lighter-bg text-xs-center">
        <span class="iconic" data-glyph="ellipses" title="heart" aria-hidden="true"></span>
        <p>Each home is located in a residential area. It is our policy to provide homes for young
          people within the community.</p>
        <span class="iconic" data-glyph="ellipses" title="heart" aria-hidden="true"></span>
      </div>
    </div>

    <figure class="col-xs-12 col-md-6 col-md-pull-6 mch-figure">
      <img class="grayscale-on" src="/assets/images/services/services-food.jpg" alt="services">
      <figcaption>Residential & Within the community</figcaption>
    </figure>
  </div>

  <!-- section c -->
  <div class="row section-c text-xs-center">
    <div class="col-xs-12 col-md-4">
      <div class="gray-bg">
        <span class="iconic iconic-md" data-glyph="heart" title="heart" aria-hidden="true"></span>

        <p>All of the homes are registered with
          <a href="https://www.gov.uk/government/organisations/ofsted" target="_blank">Ofsted</a>.
          We provide twenty-four hour residential support; this takes the form of a minimum of two
          members of staff on duty at any one time.</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="gray-bg">
        <span class="iconic iconic-md" data-glyph="people" title="staff" aria-hidden="true"></span>

        <p>We do not provide waking nights staff as standard, as we believe this gives an
          unrealistic message to young people. Our model for the home is based nearer to fostering
          than to conventional children's homes.</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="gray-bg">
      <span class="iconic iconic-md" data-glyph="home" title="childrens homes" aria-hidden="true"></span>

        <p><a href="/our-homes">Our homes</a> seek to provide a homely alternative environment,
          supporting young people often in times of crisis. We work with young people who are in
          need of the opportunity to come to terms with their past and to build a more sustained
          future.</p>
      </div>
    </div>
  </div>

  <!-- section d -->
  <div class="row section-d">
    <figure class="col-xs-12 col-md-6 col-md-push-6 mch-figure">
      <img src="/assets/images/services/services-group.jpg" alt="services">
      <figcaption>Fully inclusive within our fee structure</figcaption>
    </figure>

    <div class="col-xs-12 col-md-6 col-md-pull-6">
      <ul class="mauve-lighter-bg list-unstyled">
        <li>A full residential assessment service</li>
        <li>One session per week Therapeutic Counselling</li>
        <li>Education (Registered with DfES)</li>
        <li>Court Reports, Review Reports, Weekly Reports to placing Social Workers</li>
        <li>Independence training</li>
        <li>Holidays</li>
        <li>Life skills training</li>
        <li>Clothing, pocket money and personal allowances</li>
      </ul>
    </div>
  </div>

</div>
