<div class="container mch-services">
  <div class="row">
    <figure class="col-xs-12 col-sm-3 col-lg-3">
      <img class="img-thumbnail" src="/assets/images/services/services-food.jpg" alt="services">
    </figure>

    <section class="col-xs-12 col-sm-9 col-lg-7">
      <h2>Twenty four hour support</h2>
      <p>Each home is located in a residential area. It is our policy to provide homes for young
        people within the community. We do not advertise their presence nor do we seek to stigmatise
        the young people through the use of institutionalised signs outside the homes.</p>
      <p>All of the homes are registered with
        <a href="https://www.gov.uk/government/organisations/ofsted" target="_blank">Ofsted</a>.
        We provide twenty-four hour residential support; this takes the form of a minimum of two
        members of staff on duty at any one time.</p>
      <p>We do not provide waking nights staff as standard, as we believe this gives an unrealistic
        message to young people. Our model for the home is based nearer to fostering than to
        conventional children's homes.</p>
      <p><a href="/our-homes">Our homes</a> seek to provide a homely alternative environment,
        supporting young people often in times of crisis. We work with young people who are in need
        of the opportunity to come to terms with their past and to build a more sustained
        future.</p>

      <p><b>These services are fully inclusive within our fee structure.</b></p>

      <ul>
        <li>A full residential assessment service</li>
        <li>One session per week Therapeutic Counselling</li>
        <li>Education (Registered with DfES)</li>
        <li>Court Reports, Review Reports, Weekly Reports to placing Social Workers</li>
        <li>Independence training</li>
        <li>Holidays</li>
        <li>Life skills training</li>
        <li>Clothing, pocket money and personal allowances</li>
      </ul>

      <blockquote>
        <p>Types of presenting behaviours and issues experienced by the young people and the
          placement work undertaken.</p>
      </blockquote>
    </section>
  </div>
</div>
