<section class="mch-block-1 mch-inset">
  <h3 class="mch-ellipses">registered with ofsted</h3>
  <p>All of our homes are registered with Ofsted and we provide twenty-four hour residential
    support.</p>
  <a href="/services/keywork-support">Find out more</a>
</section>

<figure class="mch-block-2 mch-figure mch-slider">
  <img src="/assets/images/services/services-part.jpg" alt="childrens homes support">
  <figcaption>Twenty-four hour support</figcaption>
</figure>

<section class="hidden-slider">
  <h3>twenty-four hour residential support</h3>
  <p>All of the homes are registered with <a
      href="https://www.gov.uk/government/organisations/ofsted" target="_blank">Ofsted</a>. We
    provide twenty-four hour residential support; this takes the form of a minimum of two members of
    staff on duty at any one time.</p>
</section>

<section class="mch-block-3 mch-inset">
  <h3 class="mch-ellipses">provide homes for young people</h3>
  <p>Each home is located in a residential area. It is our policy to provide homes for young
    people within the community.</p>
</section>

<figure class="mch-block-4 mch-figure">
  <img src="/assets/images/services/services-food.jpg" alt="my choice home services">
  <figcaption>Residential & Within the community</figcaption>
</figure>

<ul class="mch-block-5 mch-inset">
  <li>A full residential assessment service</li>
  <li>One session per week Therapeutic Counselling</li>
  <li>Education (Registered with DfES)</li>
  <li>Court Reports, Review Reports, Weekly Reports to placing Social Workers</li>
  <li>Independence training</li>
  <li>Holidays</li>
  <li>Life skills training</li>
  <li>Clothing, pocket money and personal allowances</li>
</ul>

<figure class="mch-block-6 mch-figure">
  <img src="/assets/images/services/services-group.jpg" alt="community">
  <figcaption>Fully inclusive within our fee structure</figcaption>
</figure>

<section class="mch-block-7 mch-inset">
  <h3 class="mch-heart">Residential homes</h3>
  <p>Each home is located in a residential area. It is our policy to provide homes for young people
    within the community. We do not advertise their presence nor do we seek to stigmatise the young
    people through the use of institutionalised signs outside the homes.</p>
  <p><a href="/about-us">More about us</a></p>
</section>

<section class="mch-block-8 mch-inset">
  <h3 class="mch-people">Conventional children's homes</h3>
  <p>We do not provide waking nights staff as standard, as we believe this gives an unrealistic
    message to young people. Our model for the home is based nearer to fostering than to
    conventional children's homes.</p>
  <p><a href="/about-us/our-staff">See our staff</a></p>
</section>

<section class="mch-block-9 mch-inset">
  <h3 class="mch-home">Children's home alternative</h3>
  <p><a href="/our-homes">Our homes</a> seek to provide a homely alternative environment, supporting
    young people often in times of crisis. We work with young people who are in need of the
    opportunity to come to terms with their past and to build a more sustained future.</p>
  <p><a href="/our-homes">View all homes</a></p>
</section>
