<section class="mch-block-1 mch-inset">
  <h1 class="mch-ellipses">child referrals</h1>
  <p>My Choice team is available</p>
</section>

<figure class="mch-block-2 mch-figure mch-slider">
  <img src="/assets/images/referrals/referrals-part.jpg" alt="referrals">

  <figcaption>
    Placements, Referrals & Admissions
  </figcaption>
</figure>

<section class="hidden-slider">
  <h3>Emergency Placements</h3>
  <p>In addition to planned referrals, we will consider emergency placements if that young person
    is viewed as appropriate for the home and the mix of existing residents.</p>
  <p>Arrangements are then made with the social worker to collect the young person, a member of My
    Choice team is available if appropriate.</p>
</section>

<hr class="divider">

<section class="mch-block-3">
  <h2>The procedures for admissions are as follows:</h2>

  <dl>
    <dt>Acceptance</dt>
    <dd>Directors and the Operations Manager accept referrals via email or phone calls to head
      office. <a href="mailto:a.hyland@my-choice-homes.com">a.hyland@my-choice-homes.com</a> or <a
          href="mailto:d.ives@my-choice-homes.com">d.ives@my-choice-homes.com</a></dd>

    <dt>Consultation</dt>
    <dd>Initial phone consultation and information shared between professionals, and via email.</dd>

    <dt>Information</dt>
    <dd>The Senior Manager at My Choice coordinating the referral will request detailed written
      information, for example referral form from the local authority.</dd>

    <dt>Assessment</dt>
    <dd>If the referral is assessed as appropriate the information is then shared with the manager
      of the home where the vacancy is based.</dd>

    <dt>Suitability</dt>
    <dd>Homes manager and the Senior Manager from head office agree if the placement is suitable and
      the outcome is then feedback to the local authority. This process is within the same day of
      the referral.</dd>

    <dt>Providers Response</dt>
    <dd>Detailed providers response form is completed by the Senior Manager at My Choice and emailed
      to the local authority, outlining the provision and how the home will ensure the young persons
      needs are met.</dd>

    <dt>Confirmation</dt>
    <dd>Confirmation is then received from the local authority clarifying placement.</dd>

    <dt>My Choice Visit</dt>
    <dd>The plan at this stage is then to agree for a member of My Choice team to visit the young
      person. This is part of their admission plan.</dd>

    <dt>Young Person Visit</dt>
    <dd>If appropriate or instead of, we then arrange for the young person to visit the home.</dd>

    <dt>Risk Assessments</dt>
    <dd>The manager and staff at the home will then complete risk assessments, initial strategies
      and 24 hour management program. This is supported by the manager, social worker and
      individuals at the young persons current placement liaising to ensure the most up to date
      information is recorded and assessed.</dd>

    <dt>Preparation</dt>
    <dd>That information is disseminated through to the staff team and teaching staff to ensure they
      are fully prepared.</dd>

    <dt>Informed</dt>
    <dd>The current young people at the home are informed and given appropriate information.</dd>

    <dt>Decoration</dt>
    <dd>During this period and following meeting the young person prior to placement, their personal
      choices are reflected in their new bedroom. It is redecorated and can include poster, pictures
      and magazines of their choice. The room is equipped to a high standard. We also provide a
      welcome pack, which includes, young person guide, toiletries, towels, books etc.</dd>

    <dt>Assignment</dt>
    <dd>A keyworker is then assigned to the young person and the Working file is set up.</dd>

    <dt>Placement Planning</dt>
    <dd>Finally the placement planning meeting is arranged at the home.</dd>
  </dl>
</section>
