<div class="container-fluid">
  <div class="row">
    <figure class="col-xs-12">
      <img src="/assets/images/referrals/referrals-park.jpg" alt="referrals">
    </figure>

    <div class="col-xs-12">
      <p><b>The procedures for admissions are as follows:</b></p>

      <ul>
        <li>Directors and the Operations Manager accept referrals via email or phone calls to head office.
          a.hyland@my-choice-homes.com or d.ives@my-choice-homes.com
        </li>
        <li>Initial phone consultation and information shared between professionals, and via email.</li>
        <li>The Senior Manager at My Choice coordinating the referral will request detailed written information, for
          example referral form from the local authority.
        </li>
        <li>If the referral is assessed as appropriate the information is then shared with the manager of the home where
          the vacancy is based.
        </li>
        <li>Homes manager and the Senior Manager from head office agree if the placement is suitable and the outcome is
          then feedback to the local authority. This process is within the same day of the referral.
        </li>
        <li>Detailed providers response form is completed by the Senior Manager at My Choice and emailed to the local
          authority, outlining the provision and how the home will ensure the young persons needs are met.
        </li>
        <li>Confirmation is then received from the local authority clarifying placement.</li>
        <li>The plan at this stage is then to agree for a member of My Choice team to visit the young person. This is
          part of their admission plan.
        </li>
        <li>If appropriate or instead of, we then arrange for the young person to visit the home.</li>
        <li>The manager and staff at the home will then complete risk assessments, initial strategies and 24 hour
          management program. This is supported by the manager, social worker and individuals at the young persons
          current placement liaising to ensure the most up to date information is recorded and assessed.
        </li>
        <li>That information is disseminated through to the staff team and teaching staff to ensure they are fully
          prepared.
        </li>
        <li>The current young people at the home are informed and given appropriate information.</li>
        <li>During this period and following meeting the young person prior to placement, their personal choices are
          reflected in their new bedroom. It is redecorated and can include poster, pictures and magazines of their
          choice. The room is equipped to a high standard. We also provide a welcome pack, which includes, young person
          guide, toiletries, towels, books etc.
        </li>
        <li>A keyworker is then assigned to the young person and the Working file is set up.</li>
        <li>Finally the placement planning meeting is arranged at the home.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>In addition to planned referrals we will consider emergency placements if that young person is viewed as
        appropriate for the home and the mix of existing residents.</p>
    </div>
  </div>

  <div class="row">
    <figure class="col-xs-12">
      <img src="/assets/images/referrals/referrals-crouching.jpg" alt="referral">
    </figure>

    <div class="col-xs-12">
      <p><b>The procedure for emergency admissions are as follows:</b></p>

      <ul>
        <li>Directors and the Operations Manager accept referrals via email or phone calls to head office.
          a.hyland@my-choice-homes.com or d.ives@my-choice-homes.com
        </li>
        <li>Initial phone consultation and information shared between professionals, or via email.</li>
        <li>The Senior Manager at My Choice coordinating the referral will request detailed written information, for
          example referral form from the local authority.
        </li>
        <li>If the referral is assessed as appropriate the information is then shared with the manager of the home where
          the vacancy is based.
        </li>
        <li>Homes manager and the Senior Manager from head office agree if the placement is suitable and the outcome is
          then feedback to the local authority. This process is within the same day of the referral.
        </li>
        <li>Detailed providers response form is completed by the Senior Manager at My Choice and emailed to the local
          authority, outlining the provision and how the home will ensure the young persons needs are met.
        </li>
        <li>Confirmation is then received from the local authority clarifying placement.</li>
        <li>The manager and staff at the home will then complete risk assessments, initial strategies and 24 hour
          management program. This is supported by the manager, social worker and individuals at the young persons
          current placement liaising to ensure the most up to date information is recorded and assessed.
        </li>
        <li>That information is disseminated through to the staff team and teaching staff to ensure they are fully
          prepared.
        </li>
        <li>The current young people at the home are informed and given appropriate information.</li>
        <li>During this emergency assessment period prior to placement, their personal choices are reflected in their
          new bedroom. It is redecorated and can include poster, pictures and magazines of their choice. The room is
          equipped to a high standard. We also provide a welcome pack, which includes, young person guide, toiletries,
          towels, books etc.
        </li>
        <li>Arrangements are then made with the social worker to collect the young person, a member of My Choice team is
          available if appropriate.
        </li>
        <li>A keyworker is then assigned to the young person and the Working file is set up.</li>
        <li>Finally the placement planning meeting is arranged at the home.</li>
      </ul>
    </div>
  </div>
</div>
