<footer class="container-fluid text-xs-center text-lg-left mch-footer">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">

      <h4>School Prospectus 2013 to 2014</h4>
      <ul class="nav">
        <li><a href="#">Ocean Pearl</a></li>
        <li><a href="#">Kestral House</a></li>
        <li><a href="#">Kingfisher View</a></li>
        <li><a href="#">Oak House</a></li>
        <li><a href="#">Pebble House</a></li>
        <li><a href="#">Maple House</a></li>
        <li><a href="#">Ivy Cottage</a></li>
        <li><a href="#">Osprey House</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">

      <h4>Policies and Procedures</h4>
      <ul class="nav">
        <li><a href="#">Statement of Purpose</a></li>
        <li><a href="#">Children’s Guide</a></li>
        <li><a href="#">Recruitment Booklet</a></li>
        <li><a href="#">Safeguarding Policy</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6">

      <h4>My Choice Children's Homes</h4>

      <p>We have 8 Children's Homes located in between West / East Sussex and Surrey and we look after
        children who display challenging behaviours aged between 10 - 18 years of age.</p>

      <p>My Choice Children's Homes also provide extensive training to help support our
        staff meet the challenging needs of our children plus we provide Diploma Qualifications
        via our in-house Diploma Assessor.</p>
    </div>
    <div class="col-xs-12 text-md-center text-lg-right small">
      &copy; 2016 My Choice Children's Homes
    </div>
  </div>
</footer>
