<footer class="container-fluid text-xs-center text-lg-left mch-footer">
  <div class="row">

    <section class="col-xs-12 col-md-6 col-lg-3">
      <h4>School Prospectus 2013 to 2014</h4>

      <ul class="nav">
        <li><a href="/documents/school-prospectus/ocean-pearl.doc">Ocean Pearl</a></li>
        <li><a href="/documents/school-prospectus/kestral-house.doc">Kestral House</a></li>
        <li><a href="/documents/school-prospectus/kingfisher-view.doc">Kingfisher View</a></li>
        <li><a href="/documents/school-prospectus/oak-house.doc">Oak House</a></li>
        <li><a href="/documents/school-prospectus/pebble-house.doc">Pebble House</a></li>
        <li><a href="/documents/school-prospectus/maple-house.doc">Maple House</a></li>
        <li><a href="/documents/school-prospectus/ivy-cottage.doc">Ivy Cottage</a></li>
        <li><a href="/documents/school-prospectus/osprey-house.doc">Osprey House</a></li>
      </ul>
    </section>

    <section class="col-xs-12 col-md-6 col-lg-3">
      <h4>Policies and Procedures</h4>

      <ul class="nav">
        <li><a href="/documents/policies-procedures/statement-of-purpose.docx">Statement of Purpose</a></li>
        <li><a href="/documents/policies-procedures/childrens-guide.docx">Children’s Guide</a></li>
        <li><a href="/documents/policies-procedures/recruitment-booklet.pub">Recruitment Booklet</a></li>
        <li><a href="/documents/policies-procedures/safeguarding-policy.docx">Safeguarding Policy</a></li>
      </ul>
    </section>

    <section class="col-xs-12 col-md-12 col-lg-6">
      <h4>My Choice Children's Homes</h4>

      <p>We have 8 Children's Homes located in between West / East Sussex and Surrey and we look
        after children who display challenging behaviours aged between 10 - 18 years of age.</p>
      <p>My Choice Children's Homes also provide extensive training to help support our staff meet
        the challenging needs of our children plus we provide Diploma Qualifications via our
        in-house Diploma Assessor.</p>
    </section>
  </div>
</footer>
