<footer class="mch-footer">
  <section>
    <h4>Prospectus 2013/14</h4>
    <nav>
      <a href="/documents/school-prospectus/ocean-pearl.doc">Ocean Pearl</a>
      <a href="/documents/school-prospectus/kestral-house.doc">Kestral House</a>
      <a href="/documents/school-prospectus/kingfisher-view.doc">Kingfisher View</a>
      <a href="/documents/school-prospectus/oak-house.doc">Oak House</a>
      <a href="/documents/school-prospectus/pebble-house.doc">Pebble House</a>
      <a href="/documents/school-prospectus/maple-house.doc">Maple House</a>
      <a href="/documents/school-prospectus/ivy-cottage.doc">Ivy Cottage</a>
      <a href="/documents/school-prospectus/osprey-house.doc">Osprey House</a>
    </nav>
  </section>

  <section>
    <h4>Policies and Procedures</h4>
    <nav>
      <a href="/documents/policies-procedures/statement-of-purpose.docx">Statement of Purpose</a>
      <a href="/documents/policies-procedures/childrens-guide.docx">Children’s Guide</a>
      <a href="/documents/policies-procedures/recruitment-booklet.pub">Recruitment Booklet</a>
      <a href="/documents/policies-procedures/safeguarding-policy.docx">Safeguarding Policy</a>
    </nav>
  </section>

  <section class="col-xs-12 col-md-12 col-lg-6">
    <h4>My Choice Children's Homes</h4>
    <p>We have 8 Children's Homes located in between West / East Sussex and Surrey and we look after
      children who display challenging behaviours aged between 10 - 18 years of age.</p>
    <p>My Choice Children's Homes also provide extensive training to help support our staff meet the
      challenging needs of our children plus we provide Diploma Qualifications via our in-house
      Diploma Assessor.</p>
  </section>
</footer>
