<div class="mch-fixed-navbar">
    <a class="col-xs-3" href="#"><img src="/assets/images/logo.png"></a>
    <a class="col-xs-9 text-xs-right">
        <span class="iconic iconic-md"
              data-glyph="menu"
              title="menu"
              aria-hidden="true"></span>
    </a>

    <nav class="mch-navbar">
        <a href="/">Home</a>
        <a href="/about-us">About us</a>
        <a href="/our-homes">Our homes</a>
        <a href="/services">Services</a>
        <a href="/my-choice-school">My choice school</a>
        <a href="/activities">Activities</a>
        <a href="/referrals">Referrals</a>
        <a href="/careers">Careers</a>
        <a href="/contact-us">Contact us</a>
        <a href="tel:01444 446920">tel: 01444 446920</a>
        <a href="mailto:enquires@my-choice-homes.com">enquires@my-choice-homes.com</a>
    </nav>
</div>
