<nav class="nav nav-inline">
    <a href="#"><img src="http://placehold.it/200x400.gif"></a>
    <a href="#">Home</a>

    <nav class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           href="#" role="button"
           aria-haspopup="true"
           aria-expanded="false">About us</a>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </nav>

    <a href="#">Our homes</a>
    <a href="#">Services</a>
    <a href="#">My choice school</a>
    <a href="#">Activities</a>
    <a href="#">Referrals</a>
    <a href="#">Careers</a>
    <a href="#">Contact us</a>
    <a href="#">tel: 01444 446920</a>
    <a href="#">enquires@my-choice-homes.com</a>
</nav>
