<section class="container-fluid tiles">
    <div class="row">
        <div class="hidden-md-down col-lg-2">
            <h3>Our Services</h3>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <p><strong>About us</strong></p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <img class="img-responsive" src="/assets/images/about-us.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <img src="/assets/images/key-working.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <p><strong>Key working</strong></p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <p><strong>Key support</strong></p>
        </div>
        <div class="hidden-md-down col-lg-2 col-lg-2">
            <p>We provide the children in our care with a child centered approach where the needs of the child are at the forefront of everything we do.</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <img src="/assets/images/key-support.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <img src="/assets/images/activities.jpg">
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <p><strong>Activities</strong></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <p><strong>My choice school</strong></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-2">
            <img src="/assets/images/my-choice-school.jpg">
        </div>
    </div>
</section>
