<section class="container-fluid tiles">
  <div class="row">
    <div class="hidden-md-down col-lg-2">
      <h3>Our Services</h3>
    </div>
    <a class="col-xs-6 col-sm-3 col-md-3 col-lg-2" href="/about-us">
      About Us
    </a>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
      <img class="img-responsive" src="/assets/images/about-us.jpg" alt="about us">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
      <img src="/assets/images/key-working.jpg" alt="key working">
    </div>
    <a class="col-xs-6 col-sm-3 col-md-3 col-lg-2" href="/key-working">
      Key Working
    </a>
    <a class="col-xs-6 col-sm-3 col-md-3 col-lg-2" href="/key-support">
      Key Support
    </a>
    <div class="hidden-md-down col-lg-2 col-lg-2">
      We provide the children in our care with a child centered approach where the needs
      of the child are at the forefront of everything we do.
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
      <img src="/assets/images/key-support.jpg" alt="ket support">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
      <img src="/assets/images/activities.jpg" alt="activities">
    </div>
    <a class="col-xs-6 col-sm-3 col-md-3 col-lg-2" href="/activities">
      Activities
    </a>
    <a class="col-xs-6 col-sm-6 col-lg-2" href="/my-choice-school">
      My Choice School
    </a>
    <div class="col-xs-6 col-sm-6 col-lg-2">
      <img src="/assets/images/my-choice-school.jpg" alt="my choice school">
    </div>
  </div>
</section>
