body.mch-our-homes {
  [class*='mch-block-'] {
    float: left;
    width: 100%;
  }

  img { filter: grayscale(.5); }
}

@media (min-width: 34em) {
  body.mch-our-homes [class*='mch-block-'] {
    width: 44%;

    &:nth-child(odd) {
      margin-left: $margin-xs / 2;
      margin-right: $margin;
    }

    &:nth-child(even) {
      margin-left: $margin;
      margin-right: $margin-xs / 2;
    }
  }
}

@media (min-width: 62em) {
  body.mch-our-homes {
    [class*='mch-block-'] {
      width: 29.333%;

      &:nth-child(odd) { margin-right: 0; }
      &:nth-child(even) { margin-left: 0; }

      &:nth-child(3n+1) {
        margin-left: $margin;
        margin-right: $margin-md / 2;
      }

      &:nth-child(3n+2) {
        margin-left: $margin-md / 2;
        margin-right: $margin-md / 2;
      }

      &:nth-child(3n+3) {
        margin-left: $margin-md / 2;
        margin-right: $margin;
      }
    }
  }
}
