.mch-our-homes {
  [class*='mch-block-'] {
    float: left;
    width: 98%;
    margin: 0 1% $space;
  }
}

@media (min-width: 34em) {
  .mch-our-homes [class*='mch-block-'] {
    width: 44.5%;

    &:nth-child(odd) {
      margin-left: .5%;
      margin-right: 5%;
    }

    &:nth-child(even) {
      margin-left: 5%;
      margin-right: .5%;
    }
  }
}

@media (min-width: 62em) {
  .mch-our-homes [class*='mch-block-'] {
    width: 29.334%;

    &:nth-child(odd) { margin-right: 0; }
    &:nth-child(even) { margin-left: 0; }

    &:nth-child(3n+1) {
      margin-left: 5%;
      margin-right: .5%;
    }

    &:nth-child(3n+2) {
      margin-left: .5%;
      margin-right: .5%;
    }

    &:nth-child(3n+3) {
      margin-left: .5%;
      margin-right: 5%;
    }
  }
}
