.mch-our-homes {
  [class*='mch-block-'] {
    float: left;
    width: 100%;
    margin-bottom: $space;
  }
}

@media (min-width: 48em) {
  .mch-our-homes [class*='mch-block-'] {
    width: 49%;

    &:nth-child(odd) { margin-right: .5%; }
    &:nth-child(even) { margin-left: .5%; }
  }
}

@media (min-width: 75em) {
  .mch-our-homes [class*='mch-block-'] {
    width: 32.66666666666667%;

    &:nth-child(odd) { margin-right: 0; }
    &:nth-child(even) { margin-left: 0; }

    &:nth-child(3n+1) { margin-right: .5%; }
    &:nth-child(3n+3) { margin-left: .5%; }
    &:nth-child(3n+2) { margin: 0 .5% 0 .5%; }
  }
}
