.mch-single-home {
  [class*='mch-block-'] {
    float: left;
    width: 98%;
    margin: 0 1%;
  }

  img { filter: grayscale(.5); }

  figure { margin: 0; }
  
  figure figure {
    width: 49.5%;
    float: left;
    margin-top: 1%;

    &:nth-child(odd) { margin-left: .5%; }
    &:nth-child(even) { margin-right: .5%; }
  }

  figcaption { clear: both; }
}

@media (min-width: 34em) {
  .mch-single-home {
    [class*='mch-block-'] {
      width: 90%;
      margin: 0 5% $space;
    }

    figure figure {
      width: 24.25%;

      &:nth-child(odd) { margin-left: 0; }
      &:nth-child(even) { margin-right: 0; }

      &:nth-child(2) { margin-right: .5%; }
      &:nth-child(3), &:nth-child(4) { margin: 1% .5% 1% .5%; }
      &:nth-child(5) { margin-left: .5%; }
    }
  }
}

@media (min-width: 48em) {
  .mch-single-home {
    .mch-block-1 {
      float: right;
      width: 54%;
      margin-left: 1%;
    }

    .mch-block-2 {
      width: 34%;
      margin-right: 1%;
    }
  }
}
