.mch-activities {
  figure.mch-fig-a, figure.mch-fig-b, figure.mch-fig-c {
    overflow: hidden;
    max-height: 40vh;

    img {
      position: relative;
      bottom: 5vh;
    }
  }
}

@media (min-width: 48em) {
  .mch-activities {
    figure.mch-fig-a, figure.mch-fig-b, figure.mch-fig-c {
      overflow: auto;
      max-height: 100%;

      img {
        position: inherit;
        bottom: 0;
      }
    }
  }
}
