.mch-my-choice-school {

  section {
    margin-bottom: $doubleSpace;
  }

  figure.mch-fig-b {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 34em) {
  .mch-my-choice-school {

    figure.mch-fig-a {
      padding-right: $halfSpace;
      margin-bottom: 0;
    }

    .mch-pre-block {
      padding: 0 $halfSpace;
    }

    figure.mch-fig-b {
      padding-left: $halfSpace;
      margin-top: 0;
    }
  }
}
