.mch-my-choice-school {
  figure.mch-fig-a {
    overflow: hidden;
    max-height: 40vh;

    img {
      position: relative;
      bottom: 15vh;
    }
  }

  figure.mch-fig-b {
    overflow: hidden;
    max-height: 40vh;
  }

  figure.mch-fig-c {
    overflow: hidden;
    max-height: 40vh;

    img {
      position: relative;
      bottom: 5vh;
    }
  }

  figure.mch-fig-e {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 34em) {
  .mch-my-choice-school {
    figure.mch-fig-a img, figure.mch-fig-b img {
      bottom: 25vh;
    }

    figure.mch-fig-d {
      padding-right: $halfSpace;
      margin-bottom: 0;
    }

    .mch-pre-block {
      padding: 0 $halfSpace;
    }

    figure.mch-fig-e {
      padding-left: $halfSpace;
      margin-top: 0;
    }
  }
}

@media (min-width: 48em) {
  .mch-my-choice-school {
    figure.mch-fig-a, figure.mch-fig-b, figure.mch-fig-c {
      overflow: auto;
      max-height: 100%;

      img {
        position: inherit;
        bottom: 0;
      }
    }
  }
}
