.mch-services {
  figure.mch-fig-a {
    overflow: hidden;
    max-height: 50vh;

    img {
      position: relative;
      bottom: 15vh;
    }
  }
}

@media (min-width: 34em) {
  .mch-services {
    figure.mch-fig-a img {
      bottom: 38vh;
    }
  }
}

@media (min-width: 48em) {
  .mch-services {
    figure.mch-fig-a {
      overflow: auto;
      max-height: 100%;

      img {
        position: inherit;
        bottom: 0;
      }
    }
  }
}

@media (min-width: 62em) {
  .mch-services {
    figure.mch-fig-b {

      img {
        flex: 0 0 66.66667%;
      }

      figcaption {
        flex: 0 0 33.33333%;
      }
    }
  }
}
