<div class="container mch-our-homes">
  <div class="row">

    {{#each homes}}
      <figure class="col-xs-12 col-md-6 col-lg-4">
        <img class="img-thumbnail" src="{{thumbnail}}" alt="{{home}}">
        <figcaption>
          <h4><a href="{{href}}">{{home}}</a></h4>
          <p><small class="text-muted">{{location}}</small></p>
          <p>{{limitTo description 290}}</p>
          <a href="{{href}}">More about {{home}}</a>
        </figcaption>
      </figure>
    {{/each}}

  </div>
</div>
