<div class="container mch-single-home">
  <div class="row">

    <figure class="col-xs-12 col-lg-6 col-lg-push-4 mch-fig-a">
      <img class="img-thumbnail" src="{{image}}" alt="{{home}}">

      <div class="row">
        {{#each images}}
        <figure class="col-xs-6 col-md-3 col-lg-6 mch-fig-b">
          <img class="img-thumbnail" src="{{this}}" alt="{{home}}">
        </figure>
        {{/each}}
      </div>
    </figure>

    <div class="col-xs-12 col-lg-4 col-lg-pull-6">
      <h3>The House</h3>
      <p>{{description}}</p>
      <p><a href="#">View gallery</a></p>
      <hr>
      <h4>Facilities</h4>
      <p>{{facilities}}</p>
    </div>
  </div>
</div>
