{{#each tiles}}
<section class="container-fluid tiles {{color}}">
  <div class="row">

    {{!-- title dark block --}}
    <div class="hidden-md-down col-lg-2 dark-bg">
      <span class="iconic iconic-md"
            data-glyph="{{icon}}"
            title="services"
            aria-hidden="true"></span>

      <h4>{{{title}}}</h4>
    </div>

    {{!-- about us || ocean pearl : text block --}}
    <a class="col-xs-6 col-sm-3 col-md-3 col-lg-2 mch-touch" href="{{blocks.0.href}}">
      {{blocks.0.title}}
    </a>

    {{!-- about us || ocean pearl : image block --}}
    <figure class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
      <img src="{{blocks.0.image}}" alt="{{blocks.0.alt}}">
    </figure>

    {{!-- support || kestral house : image block --}}
    <figure class="col-xs-6 col-sm-3 col-sm-push-3 col-md-3 col-lg-2 col-lg-push-2">
      <img src="{{blocks.1.image}}" alt="{{blocks.1.alt}}">
    </figure>

    {{!-- support || kestral house : text block --}}
    <a class="col-xs-6 col-sm-3 col-sm-pull-3 col-md-3 col-lg-2 col-lg-pull-2 mch-touch"
       href="{{blocks.1.href}}">
      {{blocks.1.title}}
    </a>

    {{!-- key working || kingfisher view : text block --}}
    <a class="col-xs-6 col-sm-3 col-sm-push-3 col-md-3 col-lg-2 col-lg-push-0 mch-touch"
       href="{{blocks.2.href}}">
      {{blocks.2.title}}
    </a>

    {{!-- description dark block --}}
    <figure class="text-xs-center hidden-md-down col-lg-2 col-lg-2 dark-bg">
      {{description}}
    </figure>

    {{!-- key working || kingfisher view : image block --}}
    <figure class="col-xs-6 col-sm-3 col-sm-pull-3 col-md-3 col-lg-2 col-lg-push-8">
      <img src="{{blocks.2.image}}" alt="{{blocks.2.alt}}">
    </figure>

    {{!-- activities || ivy cottage : image block --}}
    <figure class="col-xs-6 col-sm-3 col-md-3 col-lg-2 col-lg-pull-2">
      <img src="{{blocks.3.image}}" alt="{{blocks.3.alt}}">
    </figure>

    {{!-- activities || ivy cottage : text block --}}
    <a class="col-xs-6 col-sm-3 col-md-3 col-lg-2 col-lg-pull-2 mch-touch" href="{{blocks.3.href}}">
      {{blocks.3.title}}
    </a>

    {{!-- my choice school || osprey house : text block --}}
    <a class="col-xs-6 col-sm-9 col-lg-2 mch-touch" href="{{blocks.4.href}}">
      {{blocks.4.title}}
    </a>

    {{!-- my choice school || osprey house : image block --}}
    <figure class="col-xs-6 col-sm-3 col-lg-2 col-lg-pull-4">
      <img src="{{blocks.4.image}}" alt="{{blocks.4.alt}}">
    </figure>
  </div>
</section>
{{/each}}

<div class="container-fluid accordion">
  {{#each accordion}}
  <h4 class="accordion-title">
    <span class="iconic iconic-sm"
          data-glyph="{{glyph}}"
          title="{{title}}"
          aria-hidden="true"></span>
    {{{title}}}
  </h4>

  <div class="accordion-content">
    <p>{{content}}</p>
    <a class="btn btn-primary" href="{{href}}">{{{btnText}}}</a>
  </div>
  {{/each}}
</div>
