.mch-intro-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin-bottom: $space;
  background-color: $gray;
  box-shadow: 0 0 $halfSpace #999 inset;

  h3, h4 {
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: $doubleSpace;
  }

  p {
    font-size: 1.4rem;
  }
}
