* {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: inline-block;
  font-family: "Josefin Slab", Helvetica, Arial, serif;
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: 400;
  color: $darker;
  margin: 4rem 0 0 0;
}

h1, h2 {
  font-weight: 600;
}

h2 {
  margin-bottom: $doubleSpace;
}

h4 a {
  text-decoration: none;
}

a {
  color: $mauve-lighter;
  text-decoration: underline;

  &:hover {
    color: $mauve;
  }
}

a.btn {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

figure, figcaption {
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: $halfSpace solid $gray;
  padding: 0 $space;
  margin: $space 0 $space 0;
}

hr {
  margin: $space 0;
}

button[type="submit"] {
  margin: $space 0;
}
