body {
  margin-top: 4rem;
}

h1, h2 {
  font-weight: 600;
}

h2 {
  margin-bottom: $doubleSpace;
}

h4 a {
  text-decoration: none;
}

a {
  color: $mauve-lighter;
  text-decoration: underline;

  &:hover {
    color: $mauve;
  }
}

a.btn {
  text-decoration: none;
}

img {
  width: 100%;
}

figure, .card {
  margin: 0 0 $space;
}

figcaption {
  padding: $halfSpace;
}

blockquote {
  border-left: $halfSpace solid $gray;
  padding: 0 $space;
  margin: $space 0 $space 0;
}

hr {
  margin: $space 0;
}

button[type="submit"] {
  margin: $space 0;
}

.yellow {
  color: $yellow;
}

.mauve-lighter {
  color: $mauve-lighter;
}

.teal-lighter {
  color: $teal-lighter;
}

.mauve-lighter-bg, .gray-bg {
  display: flex;
  flex-direction: column;
  padding: $space;
}

.mauve-lighter-bg {
  justify-content: center;
  background-color: $mauve-lighter;
  color: $white;
  box-shadow: 0 0 $halfSpace $dark inset;
  font-size: 1.4rem;

  a {
    color: $white;
  }
}

.gray-bg {
  background-color: $gray;
  box-shadow: 0 0 $halfSpace #999 inset;
}

.mch-inset {
  background: $gray;
  margin-bottom: $space;
  box-shadow: 0 0 .5rem #999 inset;
  padding: 0 $space;

  .iconic::before {
    margin-bottom: $doubleSpace;
  }

  @extend .icon-md-round;
}
