* {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Slab", Helvetica, Arial, serif;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: 400;
  color: $darker;
  margin: 4rem 0 0 0;
}

h1, h2, h3, h4 {
  margin: 0 0 $halfSpace 0;
  font-weight: 600;
}

h1 { font-size: 2.6rem; }
h2 { font-size: 2rem; }
h4 { font-size: 1.4rem; }

h4 a { text-decoration: none; }

p { margin-bottom: $space; }

a {
  color: $mauve-lighter;
  text-decoration: underline;

  &:hover {
    color: $mauve;
  }
}

a.btn { text-decoration: none; }

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0 0 $space;
  padding: 0;

  figcaption {
    margin: $space 0;
    padding: 0;
    font-size: 1rem;
  }
}

blockquote {
  border-left: $halfSpace solid $gray;
  padding: 0 $space;
  margin: $space 0 $space 0;
}

address {
  margin-bottom: $space;
  font-size: 1rem;
}

hr { margin: $space 0; }

button[type="submit"] { margin: $space 0; }

ul { margin: 0 0 $space $doubleSpace; }

.mauve-lighter { color: $mauve-lighter; }
.yellow { color: $yellow; }
.teal-lighter { color: $teal-lighter; }

.small { font-size: 90%; }

.container {
  display: table;
  position: relative;
  max-width: 98%;
  margin: 0 auto;
}

@media (min-width: 34em) {
  .container { max-width: 90%; }
}

@media (min-width: 48em) {
  .container { max-width: 85%; }
}

@media (min-width: 62em) {
  .container { max-width: 80%; }
}
