.mch-inset {
  display: table;
  background: $teal-light;
  box-shadow: 0 0 .5rem $dark inset;
  color: $white;
  text-align: center;

  a { color: $white; }

  div {
    display: table-cell;
    vertical-align: middle;
    padding: 5%;
  }
}
