.mch-modal {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 5rem;
  right: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 100%;
  background-color: $white;
  padding: 2rem;
  overflow: hidden;

  .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
