.mch-open-modal {
  color: $mauve-lighter;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $mauve;
  }
}

.mch-modal {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  padding: $doubleSpace;

  .close-modal {
    position: absolute;
    top: $space;
    right: $space;
    cursor: pointer;
  }

  .mch-modal-stripe-container {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mch-modal-stripe {
    opacity: 0;
    position: absolute;
    top: -150%;
    left: 0;
    height: 100%;
    background-color: $white;
  }
}

.overlay {
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;
}
