.mch-open-modal {
  color: $mauve-lighter;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $mauve;
  }
}

.mch-modal {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  padding: $doubleSpace;
  overflow: auto;

  .mch-modal-close {
    position: absolute !important;
    top: $space;
    right: $space;
    cursor: pointer;
  }

  .mch-modal-parts-container {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mch-modal-part {
    opacity: 0;
    position: absolute;
    background-color: $white;

    &.mch-modal-part-0, &.mch-modal-part-2 { left: 0; }
    &.mch-modal-part-0, &.mch-modal-part-1 { top: 0; }
    &.mch-modal-part-1, &.mch-modal-part-3 { right: 0; }
    &.mch-modal-part-2, &.mch-modal-part-3 { bottom: 0; }
  }
}

.overlay {
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;
}
