.hidden-slider {
  display: none !important;
}

.mch-slider .slider-right {
  display: none;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 1%;
  margin: auto;
  width: 2rem;
  height: 2rem;
  color: $white;
  text-shadow: 0 0 .2rem $dark;
  cursor: pointer;

  &::before {
    font-size: 2rem;
  }
}

.mch-slider .hidden-slider {
  display: inline !important;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  background-color: $white;
  text-align: center;
  max-height: 100%;

  * { position: relative; }
}

@media (min-width: 34em) {
  .mch-slider .slider-right { display: block; }
}
