<div class="container">
  <div class="row">

    <figure class="col-xs-12 col-sm-3">
      <img class="img-thumbnail"
           src="/assets/images/activities/activities-bowling.jpg"
           alt="fun activities">
    </figure>

    <section class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
      <h3>Opportunities</h3>

      <p>Young people are encouraged to undertake activities both as a group and individually. We
        endeavour to give opportunities to pursue leisure interests which take into consideration
        the young person's abilities, culture, race, religion and language.</p>
      <p>Within the home a balance is sought between organised activities and unstructured time
        which the young people can choose to spend as they wish, for example, watching television or
        playing appropriate games on the playstation. It is My Choice Children's Homes policy that
        young people can only have access to games and videos/DVDs that are age appropriate to
        them.</p>
      <p>Activities that are available to the young people include the following: Horse riding, ice
        skating, arts and crafts, cinema trips, cooking, fishing, go-karting, rock climbing,
        activity centers, paint balling, water sports, theme parks (Merlin passes), camping trips,
        visiting new places, towns, cities, etc, sessions at the gym and fitness classes, bike
        rides, general fitness interests, leisure centers, swimming, badminton, squash classes,
        drama and singing classes. The young people are encouraged to join new clubs for example
        football, tennis etc.</p>
      <p>All new interests, hobbies or activities are encouraged and developed.</p>
      <p>The young people also take part in planned holidays and short breaks. These are organised
        through discussion with the young person, homes manager and social worker/parents. The young
        people are encouraged to plan the short break and the staff will provide a comprehensive
        over view including risk assessments, budgets and itinerary.</p>
    </section>

    <section class="col-xs-12 col-sm-9 col-sm-push-3 col-lg-7 col-lg-push-3">
      <h3>Commitment</h3>

      <figure>
        <img class="img-thumbnail"
             src="/assets/images/activities/activities-snow.jpg"
             alt="commitment to children">

        <figcaption>
          <p>My Choice also has a commitment to providing opportunities for young people to act and
            think independently whilst being safe.</p>
          <p>This is reflected in what activities are agreed with them to do. For example, if age
            and understanding is appropriate for a young person to go to the shops on their own, a
            full discussion and risk assessment for this would be undertaken. In relation to
            organised activities there would also be a risk assessment carried out to ensure it was
            safe and the young person's welfare was not at risk.</p>
        </figcaption>
      </figure>
    </section>

    <section class="col-xs-12 col-sm-9 col-sm-push-3 col-lg-7 col-lg-push-3">
      <h3>Encouragement</h3>

      <figure>
        <img class="img-thumbnail"
             src="/assets/images/activities/activities-football.jpg"
             alt="we encourage children">

        <figcaption>
          <p>Wherever possible and appropriate young people are encouraged to make friends outside
            of the home and these friends can come back if arranged previously. We cannot,
            unfortunately, facilitate overnight stays.</p>
          <p>However, if a young person wishes to visit a friend's house we have a commitment to
            making sure this is arranged in conjunction with their Social Worker and that all the
            necessary and appropriate checks are undertaken.</p>
          <p>We view special days for the young person (i.e. birthdays, cultural and religious
            festivals), with great importance and endeavour to involve the young person in planning
            for these wherever possible.</p>
        </figcaption>
      </figure>
    </section>
  </div>
</div>
