.mch-about-us [class*='mch-block-'] {
  float: left;
  width: 100%;
}

@media (min-width: 48em) {
  .mch-about-us .mch-block-2 figure {
    width: 48%;
    float: left;
    padding: 0 1%;
  }
}

@media (min-width: 62em) {
  .mch-about-us {
    .mch-block-1 {
      float: right;
      width: 69%;
      margin-left: 1%;
    }

    .mch-block-2 {
      width: 29%;
      margin-right: 1%;

      figure {
        width: 100%;
        float: none;
      }
    }
  }
}
