@media (min-width: 48em) {
  .mch-ofsted-quotes {
    figure {
      display: table;

      img {
        float: left;
        width: 29%;
        margin-right: 1%;
      }

      figcaption {
        float: left;
        width: 69%;
        margin: 0 0 0 1%;
      }
    }
  }
}
