body.mch-our-staff {
  [class*='mch-block-'] {
    float: left;
    width: 49%;
    position: relative;
    padding-bottom: $doubleSpace;

    &:nth-child(even) { margin-left: $margin-xs / 2; }
    &:nth-child(odd) { margin-right: $margin-xs / 2; }
  }

  .mch-open-modal {
    position: absolute;
    bottom: 0;
  }

  figure img { filter: grayscale(1); }
  figure figcaption { margin-bottom: $space; }
  figure figcaption small { display: block; }
}

@media (min-width: 34em) {
  body.mch-our-staff article {
    display: table;
    width: 90%;
    margin: 0 auto;
  }

  body.mch-our-staff [class*='mch-block-'] {
    width: 32%;

    &:nth-child(even) { margin-left: 0; }
    &:nth-child(odd) { margin-right: 0; }

    &:nth-child(3n+1) { margin-right: $margin-xs / 2; }

    &:nth-child(3n+2) {
      margin-left: $margin-xs / 2;
      margin-right: $margin-xs / 2;
    }

    &:nth-child(3n+3) { margin-left: $margin-xs / 2; }
  }
}

@media (min-width: 48em) {
  body.mch-our-staff [class*='mch-block-'] {
    width: 24%;

    &:nth-child(4n+2), &:nth-child(4n+3) {
      margin-left: $margin-md / 2;
      margin-right: $margin-md / 2;
    }

    &:nth-child(4n+1) {
      margin-left: 0;
      margin-right: $margin-md / 2;
    }

    &:nth-child(4n+4) {
      margin-left: $margin-md / 2;
      margin-right: 0;
    }
  }
}

@media (min-width: 75em) {
  body.mch-our-staff [class*='mch-block-'] {
    width: 19%;

    &:nth-child(5n+2), &:nth-child(5n+3), &:nth-child(5n+4) {
      margin-left: $margin-md / 2;
      margin-right: $margin-md / 2;
    }

    &:nth-child(5n+1) { margin-left: 0; }
    &:nth-child(5n+5) {
      margin-left: $margin-md / 2;
      margin-right: 0;
    }
  }
}
