.mch-programme [class*='mch-block-'] {
  float: left;
  width: 100%;
}

@media (min-width: 48em) {
  .mch-programme {
    .mch-block-1 {
      float: right;
      width: 69%;
      margin-left: 1%;
    }

    .mch-block-2 {
      width: 29%;
      margin-right: 1%;
    }
  }
}
