.mch-training [class*='mch-block-'] {
  float: left;
  width: 100%;
}

@media (min-width: 62em) {
  .mch-training {
    .mch-block-1 {
      float: right;
      width: 69.5%;
      padding-left: .5%;
    }

    .mch-block-2 {
      width: 29.5%;
      padding-right: .5%;
    }
  }
}
