<div class="container">
  <div class="row">

    <aside class="col-xs-12 col-lg-3 col-lg-push-9">
      {{> links}}
    </aside>

    <div class="col-xs-12 col-lg-7 col-lg-pull-1">
      {{#each jobs}}
      <h3>{{title}}</h3>

      <dl class="row">
        <dt class="col-xs-3 col-md-2">Location</dt>
        <dd class="col-xs-9 col-md-10">{{location}}</dd>

        <dt class="col-xs-3 col-md-2">Contract</dt>
        <dd class="col-xs-9 col-md-10">{{contract}}</dd>

        <dt class="col-xs-3 col-md-2">Salary</dt>
        <dd class="col-xs-9 col-md-10">{{salary}}</dd>
      </dl>

      {{{description}}}

      {{/each}}
    </div>

    <figure class="col-xs-12 col-lg-2 col-lg-pull-10">
      <img class="img-thumbnail" src="/assets/images/careers/careers.jpg" alt="job opportunities">
    </figure>
  </div>
</div>
