<div class="container">
  <div class="row">

    <figure class="col-xs-12 col-md-3">
      <img class="img-thumbnail" src="/assets/images/careers/casual-worker.jpg" alt="casual worker">
    </figure>

    <section class="col-xs-12 col-md-9 col-lg-7">
      <h3>A casual worker</h3>
      <p>A manager of one of the homes within My Choice called me at 6 pm on Wednesday evening and
        asked if I was available to work a shift the following day. It’s quite common to be phoned
        the day before or even on the morning of the shift that needs to be covered. They needed a
        Casual Worker to cover a member of staff who had called in sick for their shift the
        following day.</p>
      <p>I agreed to work the whole shift and to start at 10am on the Thursday morning to finish
        Friday around 10am. The manager also spoke to me about my availability for later on in the
        month to help cover shifts as some staff had annual leave and also need to attend training.
        This is great as I now have 9 shifts booked this month.</p>
      <p>I arrived at 10am as arranged and was given a handover by the staff on shift. I was
        informed that I needed to take a specific young person to a dentist appointment during the
        shift and to prepare lunch and dinner for all at the home, before I take one of the young
        people to the cinema for an evening activity.</p>
      <p>During the day it is also my responsibility to write up in the weekly log what has happened
        today, from start to finish, for record purposes.</p>

      <p><b>I am also required to do the following;</b></p>

      <ul>
        <li>1:1 working with all the young people</li>
        <li>Preparing meals for the home</li>
        <li>Undertaking all domestic responsibilities within the home.</li>
        <li>Taking young people to appointments</li>
        <li>Support in the education setting if required</li>
      </ul>

      <p>It is really busy at the home and the day can be so varied and we all work as a team
        providing a nurturing and learning environment for the young people.</p>
      <p>During my shifts there is always a chance that I may be asked to work at one of the other
        homes, but I am used to this as I have worked in all homes now as a Casual Worker.</p>
      <p>At the end of each day we settle the young people for a quiet evening and this helps with
        their bed time routines. We are available throughout the day and night, which is why we
        sleep in, should the young people need support or guidance.</p>
    </section>
  </div>
</div>
