<figure class="mch-block-1">
  <img src="/assets/images/careers/support-worker.jpg" alt="casual worker">
</figure>

<section class="mch-block-2">
  <h3>A support worker</h3>

  <p>My shift this week starts at 10am on Tuesday and its finishes on Thursday morning normally
    around 10am ish, then back in to work Sunday at 10am.</p>
  <p>I arrive on shift at the home and its a busy morning, the new school term has started this week
    and the home has plans in place for each young person.</p>
  <p>I head straight to the office so the manager and staff team can log me in and begin the
    handover process. However the team require me to support a young person as a priority, therefore
    I will spend time receiving the handover when the situation is safe.</p>
  <p>Handover is an important part of the day, as staff from the previous shift will pass on all
    important information about the young people for example: appointments attended, activities the
    young people have taken part in, contact sessions that the team have supported, shopping with
    young people, young people's newly prescribed medication, general behaviour of the young people
    including any child protection issues, incidents, abstentions as well as positive interactions
    they would have had over the last few days.</p>
  <p>After handover you can also update yourself by reading the message book, diary, looking at the
    white planning board in the office and reading the weekly reports for each young person. This
    will give me added information for the shift ahead, although depending on the young peoples
    needs I might have to read this at some stage during the course of the morning.</p>
  <p>I'm a new member of staff so I need to complete some of my CWDC induction workbook over these
    two shifts. I know I have six months from starting with My Choice to complete this, but I know
    this time will go really quick. I normally plan with my line managers to help support me to
    complete some each day whilst I am on shift.</p>

  <p><b>After handover some staff leave shift and one or two new staff will take over and that's
    when we plan the day and allocate jobs:</b></p>

  <ul>
    <li>Reading necessary paper work especially if it has been updated – this could include the 24
      hour management plan, strategies, risk assessments etc.</li>
    <li>Spending 1:1 or group time with the young people at the home. (Completing key worker
      sessions, young person meetings and general interactions).</li>
    <li>Cleaning the house, all domestic duties; e.g.: ensuring bathrooms have toilet roll, fresh
      towels and toiletries. Kitchen ready for the day, empty dishwasher, ensure menu for the week
      is on display.</li>
    <li>The weekly food shop generally occurs on a Tuesday so planning a shopping list with the
      young people needs to take place.</li>
    <li>Cooking and preparing all meals in the home for the young people and staff team.</li>
    <li>Recycling</li>
    <li>Checking for repairs– ensuring the home is checked daily for damages or repairs and then
      reporting to the homes manager who informs the maintenance department.</li>
    <li>Budgeting the homes weekly finances with the homes manager.</li>
    <li>Taking young people to appointments (CAMHs, doctors, college interviews, etc)</li>
    <li>Supporting with the administration of medication.</li>
    <li>Supporting in the classroom during school lessons in the class at the home, or taking a
      young person to school/ college and supporting at the setting.</li>
    <li>Taking a young person to a contact visit or supporting a visit at the home.</li>
    <li>Planning and then taking young people on activities (after school if a school day)</li>
    <li>Supporting with all presenting behaviours and incidents as they arise, and then completing
      all the necessary paperwork. This is of course shared between the staff team.</li>
    <li>Attending training. I get notified a month in advance for all training that I need to
      attend. This can range from Team teach training, child protection, food hygiene, understanding
      adolescent behaviour, health and safety etc. The full list can be found in the yellow PDPs or
      on line.</li>
    <li>Supervision sessions for new staff these occur once every 2 weeks, this is to ensure that
      all is well and any issues to be discussed on a 1:1 basis here with a senior team member.
      Attend team meetings, these take place normally once a month at the home, all staff to attend
      and take part.</li>
    <li>Completing our CWDC booklets in the 6 month time frame which leads on to the Level 3 Diploma
      qualification. My Choice support us all the way through and provide an in house assessor to
      ensure we achieve the Diploma.</li>
  </ul>
</section>
