<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>My Choice Children's Homes</title>
  <meta name="HandheldFriendly" content="True"/>

  <link rel="stylesheet" href="/assets/stylesheets/bootstrap-flex.css">
  <link rel="stylesheet" href="/assets/stylesheets/iconic-glyphs.css">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
</head>
<body>
{{> navbar}}

{{> header}}

{{{content}}}

{{> footer}}

<script src="/assets/javascript/global.js"></script>

{{#if bundle}}
<script src="/assets/javascript/{{bundle}}.js"></script>
{{/if}}
</body>
</html>
