<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="fragment" content="!">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.ico">

  <title>My Choice Children's Homes</title>
  <meta name="HandheldFriendly" content="True"/>

  <link rel="stylesheet" href="/assets/lib/normalize.css">
  <link rel="stylesheet" href="/assets/stylesheets/iconic-glyphs.css">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
</head>
<body class="{{bodyClass}}">

{{> navbar}}

{{> header}}

{{{content}}}

{{#if links}} {{> links}} {{/if}}
{{> footer}}

{{> copyright}}

<script src='https://www.google.com/recaptcha/api.js'></script>
{{#if ie}}
<script src="/assets/lib/promise.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
{{/if}}
<script src="/assets/lib/TweenMax.min.js"></script>
<script src="/assets/javascript/app.js"></script>
{{#if bundle}}
<script src="/assets/javascript/{{bundle}}.js"></script>
{{/if}}
</body>
</html>
