<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="fragment" content="!">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.ico">

  <title>My Choice Children's Homes</title>
  <meta name="HandheldFriendly" content="True"/>

  <!--[if !IE]><!-->
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap-flex.css">
  <!--<![endif]-->
  <!--[if lt IE 11]>
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap-ie9.css">
  <![endif]-->
  <link rel="stylesheet" href="/assets/stylesheets/iconic-glyphs.css">
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
</head>
<body>
{{> navbar}}

{{> header}}

{{{content}}}

{{> footer}}

{{> copyright}}

<script src='https://www.google.com/recaptcha/api.js'></script>

<script src="/assets/javascript/app.js"></script>
{{#if bundle}}
<script src="/assets/javascript/{{bundle}}.js"></script>
{{/if}}

<!--[if lt IE 10]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
<![endif]-->
</body>
</html>
