.accordion {
  padding: 0;
  margin-bottom: 1rem;

  .accordion-title {
    margin: 0;
    background-color: #2d2d2d;
    color: white;
    padding: 1rem;
    cursor: pointer;
  }

  .accordion-content {
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0.5rem;
    background-color: #e7e5d7;
  }

  .accordion-content.open {
    padding: 1rem;
    margin-bottom: 0;
    max-height: 100%;
  }
}
