div.accordion {
  padding: 0;
  margin-bottom: 1rem;

  .accordion-title {
    margin: 0;
    background-color: #2d2d2d;
    color: white;
    padding: 1rem;
    cursor: pointer;
  }

  @keyframes slide-from-top {
    from {
      max-height: 0;
    }

    to {
      max-height: 100%;
    }
  }

  @keyframes slide-to-top {
    from {
      right: 0;
    }

    to {
      right: -100%;
    }
  }

  .accordion-content {
    animation-duration: .1s;
    animation-name: slide-to-top;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0.5rem;
    background-color: #e7e5d7;
  }

  .accordion-content.open {
    animation-name: slide-from-top;
    padding: 1rem;
    margin-bottom: 0;
    max-height: 100%;
  }
}

@media only screen and (min-width : 992px) {
  div.accordion {
    padding: 0 0.9375rem;
  }
}
