.accordion {
  padding: 0;

  .accordion-title {
    margin: 0;
    background-color: #2d2d2d;
    color: white;
    padding: 1rem;
    cursor: pointer;
  }

  @keyframes slideContentIn {
    from {
      max-height: 0;
    }
    to {
      max-height: 100%;
    }
  }

  .accordion-content {
    animation-duration: 0.5s;
    overflow: hidden;
    max-height: 0;
    padding: 0 1rem;
    background-color: #e7e5d7;
    margin-bottom: 0.5rem;
  }

  .accordion-content.animated {
    animation-name: slideContentIn;
    max-height: 100%;
  }
}
