.mch-activities {
  [class*='mch-block-'] {
    margin: 1%;
  }

  .mch-block-2, .mch-paragraph-viewer { margin-bottom: $doubleSpace !important; }

  .mch-block-1.mch-inset {
    background-color: $teal-light;
    color: $white;
    box-shadow: 0 0 .5rem $dark inset;
  }
}

@media (min-width: 48em) {
  .mch-activities {

    .mch-block-1, .mch-block-2 { float: left; }

    .mch-block-1 {
      max-width: 36.5%;
      margin: 0 .5% $doubleSpace 1%;
    }

    .mch-block-2 {
      max-width: 60.5%;
      margin: 0 1% $doubleSpace .5%;
    }
  }
}
