@media (min-width: 48em) {
  .mch-activities {
    .mch-block-1 {
      float: left;
      width: 29%;
      margin-right: 1%;
    }

    .mch-block-2, .mch-block-3, .mch-block-4 {
      float: right;
      width: 69%;
      margin-left: 1%;
    }
  }
}
