body.mch-activities [class*='mch-block-'] { margin-bottom: $margin-xs; }

body.mch-activities .mch-inset {
  background-color: $teal-light;
  color: $white;
  box-shadow: 0 0 .5rem $dark inset;
}

@media (min-width: 48em) {
  body.mch-activities [class*='mch-block-'] { margin-bottom: $margin-md; }
  body.mch-activities .mch-block-1, body.mch-activities .mch-block-2 { float: left; }

  body.mch-activities .mch-block-1 {
    width: 34%;
    margin-right: $margin-md / 2;
  }

  body.mch-activities .mch-block-2 {
    width: 65%;
    margin-left: $margin-md / 2;
  }
}

@media (min-width: 62em) {
  body.mch-activities .mch-block-1 { width: 37%; }
  body.mch-activities .mch-block-2 { width: 62%; }
}
