@media (min-width: 48em) {
  .mch-contact-us {

    .mch-block-1 {
      float: right;
      width: 69%;
      margin-left: 1%;
    }

    .mch-block-2 {
      float: left;
      width: 29%;
      margin-right: 1%;
    }
  }
}
