body.mch-home-view {

  article {
    display: inline-block;
    text-align: center;
    margin: 0 1%;
  }

  article.mch-tiles-0 {
    background-color: $mauve;

    .mch-block-2, .mch-block-5, .mch-block-6, .mch-block-10, .mch-block-11 {
      background-color: $mauve;

      &:hover { background-color: $mauve-lighter; }
    }
  }

  article.mch-tiles-1 {
    background-color: $teal;

    .mch-block-2, .mch-block-5, .mch-block-6, .mch-block-10, .mch-block-11 {
      background-color: $teal;

      &:hover { background-color: $teal-lighter; }
    }
  }

  [class*='mch-block-'] {
    float: left;
    width: 50%;
  }

  .mch-block-1, .mch-block-7 { display: none; }

  .mch-block-2, .mch-block-5, .mch-block-6, .mch-block-10, .mch-block-11 {
    display: table;
    color: $white;
    text-decoration: none;
    transition: .1s;

    div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  figure img { filter: grayscale(1); }
}

@media (min-width: 34em) {
  body.mch-home-view {
    [class*='mch-block-'] {
      position: relative;
      width: 25%;
    }

    .mch-block-4, .mch-block-6 { left: 25%; }
    .mch-block-5, .mch-block-8 { right: 25%; }
    .mch-block-11 { width: 75% }
  }
}

@media (min-width: 48em) {
  body.mch-home-view {
    [class*='mch-block-'] {
      width: 20%;
    }

    .mch-block-4, .mch-block-9 { left: 20%; }
    .mch-block-5, .mch-block-10 { right: 20%; }
    .mch-block-6 { left: 0; }
    .mch-block-8 { right: 0; }
  }
}

@media (min-width: 62em) {
  body.mch-home-view {
    [class*='mch-block-'] {
      width: 16.66666666666667%;
    }

    .mch-block-1 {
      font-size: 1.4rem;
      line-height: 1;

      span.iconic {
        display: block;
        margin-bottom: $space;

        &::before {
          padding: $space;
          margin-top: $space;
          border: .16rem solid;
          border-radius: 2rem;
        }
      }
    }

    .mch-block-7 { margin-bottom: 0; }

    .mch-block-1, .mch-block-7 {
      display: table;
      color: $white;
      text-decoration: none;
      background-color: $dark;

      div {
        display: table-cell;
        vertical-align: middle;
        padding: 0 2%;
      }
    }

    .mch-block-4, .mch-block-9 { left: 16.66666666666667%; }
    .mch-block-5, .mch-block-10 { right: 16.66666666666667%; }
    .mch-block-6 { left: 0; }
    .mch-block-7 { font-size: 1rem; }
    .mch-block-8 { right: 0; }
  }
}

@media (min-width: 75em) {
  body.mch-home-view {
    .mch-block-1 {
      font-size: 1.8rem;

      span.iconic::before {
        font-size: 2rem;
        padding: 1.4rem;
        margin-top: $space;
        border-radius: 3rem;
      }
    }
  }
}
