.mch-school {
  [class*='mch-block-'] {
    display: block;
    position: relative;
    margin: 1%;
  }

  .mch-block-6 { margin-bottom: $doubleSpace; }

  .mch-block-1.mch-inset, .mch-block-3.mch-inset, .mch-block-5.mch-inset {
    background-color: $teal;
    color: $white;
    box-shadow: 0 0 .5rem $dark inset;

    a, .mch-open-modal { color: $white; }
  }
}

@media (min-width: 34em) {
  .mch-school {
    [class*='mch-block-'] { display: table; }

    .mch-block-3, .mch-block-4, .mch-block-5, .mch-block-6 {
      float: left;
      margin-top: 0;
    }

    .mch-block-3, .mch-block-5 {
      left: 28.5%;
      width: 70%;
      margin-left: .5%;
      margin-right: 1%;
    }

    .mch-block-4, .mch-block-6 {
      right: 71.5%;
      width: 27%;
      margin-left: 1%;
      margin-right: .5%;
    }
  }
}

@media (min-width: 48em) {
  .mch-school {
    [class*='mch-block-'] { float: left; }

    .mch-block-1, .mch-block-2 { margin-top: 0; }

    .mch-block-1 {
      max-width: 36.5%;

      a, .iconic { display: none; }
    }

    .mch-block-2 { max-width: 60.5%; }

    .mch-block-1, .mch-block-4 {
      margin-left: 1%;
      margin-right: .5%;
    }

    .mch-block-2, .mch-block-3, .mch-block-5 {
      margin-left: .5%;
      margin-right: 1%;
    }

    .mch-block-3, .mch-block-5 {
      left: 28.5%;
      max-width: 70%;
    }

    .mch-block-4, .mch-block-6 {
      right: 71.5%;
      max-width: 27%;
    }
  }
}

@media (min-width: 62em) {
  .mch-school {
    .mch-block-1 a, .mch-block-1 .iconic { display: block; }

    .mch-block-3, .mch-block-5 {
      left: 14.5%;
      max-width: 34%;
    }

    .mch-block-4, .mch-block-6 {
      right: 35%;
      max-width: 13.5%;
    }

    .mch-block-3 { margin-left: 1%; }
    .mch-block-3, .mch-block-4, .mch-block-5 { margin-right: .5%; }
    .mch-block-4, .mch-block-5, .mch-block-6 { margin-left: .5%; }
    .mch-block-6 { margin-right: 1%; }
  }
}
