body.mch-school [class*='mch-block-'] { margin-bottom: $margin-xs; }

body.mch-school .mch-inset {
  background-color: $teal;
  color: $white;
  box-shadow: 0 0 .5rem $dark inset;

  a, .mch-open-modal { color: $white; }
}

@media (min-width: 48em) {
  body.mch-school [class*='mch-block-'] {
    float: left;
    margin-bottom: $margin-md;
  }

  body.mch-school .mch-block-1 {  
    width: 35%;
    margin-right: $margin-md / 2;
  }

  body.mch-school .mch-block-2 {
    width: 64%;
    margin-left: $margin-md / 2;
  }

  body.mch-school .mch-block-3,
  body.mch-school .mch-block-4 { width: 49.5%; }
  body.mch-school .mch-block-3 { margin-right: $margin-md / 2; }
  body.mch-school .mch-block-4 { margin-left: $margin-md / 2; }
}

@media (min-width: 62em) {
  body.mch-school .mch-block-1 { width: 37%; }
  body.mch-school .mch-block-2 { width: 62%; }
}
