body.mch-services {
  .mch-block-1, .mch-block-2, .mch-block-3, .mch-block-4, .mch-block-5, .mch-block-6, .mch-block-7,
  .mch-block-8, .mch-block-9 {
    position: relative;
    margin: 0 1% 1%;
  }

  .mch-block-1.mch-inset, .mch-block-3.mch-inset, .mch-block-5.mch-inset {
    background-color: $mauve-lighter;
    color: $white;

    a { color: $white; }
  }

  .hidden-info {
    display: none;
  }

  ul.mch-block-5 {
    list-style-type: none;
  }
}

@media (min-width: 48em) {
  body.mch-services {
    .mch-block-1, .mch-block-2, .mch-block-3, .mch-block-4, .mch-block-5, .mch-block-6,
    .mch-block-7, .mch-block-8, .mch-block-9 { float: left; }
    .mch-block-1, .mch-block-3, .mch-block-5, .mch-block-7 { clear: left; }
    .mch-block-2, .mch-block-4, .mch-block-6 { clear: right; }
    .mch-block-1, .mch-block-5 { margin-right: 0; }
    .mch-block-1 { max-width: 32%; }
    .mch-block-2 { max-width: 65%; }

    .mch-block-3 {
      max-width: 47%;
      margin-left: 0;
      left: 52%;
    }

    .mch-block-4 {
      max-width: 50%;
      right: 48%;
    }

    .mch-block-5 {
      max-width: 50%;
      font-size: 1rem;
    }

    .mch-block-6 { max-width: 47%; }
    .mch-block-7 { margin-right: .5%; }
    .mch-block-7, .mch-block-8, .mch-block-9 { max-width: 32%; }

    .mch-block-8 {
      margin-left: .5%;
      margin-right: .5%;
    }

    .mch-block-9 { margin-left: .5%; }
  }
}

@media (min-width: 62em) {
  body.mch-services {
    .mch-block-1 { max-width: 34%; }
    .mch-block-2 { max-width: 63%; }
  }
}

@media (min-width: 75em) {
  body.mch-services {
    .mch-block-5 { font-size: 1.4rem; }
  }
}
