.mch-services {
  figure { margin-bottom: $space; }
}

@media (min-width: 62em) {
  .mch-services {
    .mch-col-lg-4 {
      flex: 0 0 37%;
      max-width: 37%;
    }

    .mch-col-lg-8 {
      flex: 0 0 63%;
      max-width: 63%;
    }
  }
}
