.mch-single-home {

  figure.mch-fig-a img {
    margin-bottom: $space;
  }

  figure.mch-fig-b {

    &:nth-child(odd), &:nth-child(even) {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      padding-right: $halfSpace;
    }

    &:nth-child(even) {
      padding-left: $halfSpace;
    }
  }
}

@media (min-width: 48em) {
  .mch-single-home {

    figure.mch-fig-b {

      &:nth-child(odd) {
        padding-right: $space;
      }

      &:nth-child(even) {
        padding-left: $space;
      }
    }
  }
}

@media (min-width: 62em) {
  .mch-single-home {

    figure.mch-fig-b {

      &:nth-child(odd), &:nth-child(even) {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        padding-right: $halfSpace;
      }

      &:nth-child(even) {
        padding-left: $halfSpace;
      }
    }
  }
}
