<div class="container-fluid">
  <div class="row">
    <figure class="col-xs-12">
      <img src="/assets/images/my-choice-school/school-desk.jpg" alt="school desk">
    </figure>
    <div class="col-xs-12">
      <h2>Education and Support</h2>
      <p>My Choice is committed to increasing access to education and supporting and promoting active participation in
        education for all young people.</p>

      <p>Where any young person is unable to access a local school, for whatever reason, they may be registered at My
        Choice School. Students may spend their time with us as a transition programme while awaiting alternative school
        provision or may spend their time with us re-engaging with learning and preparing for their future.</p>

      <p>My Choice School provides a teacher and a resourced classroom within each home. Teachers at My Choice School
        are experienced in working with challenging and complex behaviours and work with flexibility and enthusiasm
        while providing boundaries, structure and opportunity to succeed. RSWs provide support to the student in the
        classroom and on activities.</p>
    </div>
  </div>

  <div class="row">
    <figure class="col-xs-12">
      <img src="/assets/images/my-choice-school/school-boy.jpg" alt="school boy">
    </figure>
    <div class="col-xs-12">
      <p><b>My Choice School policies are available on request and include:</b></p>
      <ul>
        <li>Admissions</li>
        <li>Assessment</li>
        <li>SEN</li>
        <li>Curriculum</li>
        <li>IT</li>
        <li>Health and safety of students on educational visits</li>
        <li>Behaviour management</li>
        <li>Anti bullying</li>
        <li>Safeguarding</li>
        <li>Procedures for managing allegations against people who work with children</li>
        <li>Whistleblowing</li>
        <li>Complaints</li>
        <li>Student complaints</li>
        <li>First Aid</li>
        <li>Work experience</li>
        <li>English as an additional language</li>
        <li>Exclusion</li>
        <li>Health and Safety</li>
        <li>Social, moral, spiritual and cultural development</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <figure class="col-xs-12">
      <img src="/assets/images/my-choice-school/school-teacher.jpg" alt="school teacher">
    </figure>
    <div class="col-xs-12">
      <p><b>Annie Murphy - Head Teacher</b></p>

      <p>Annie has a BSc (hons) in Experimental Psychology and a PGCE from the University of Sussex. Annie has 25years
        experience of managing services for children and young people in residential, play, training and education
        settings; with 11years as the Headteacher of My Choice School. Annie is responsible for the management of all My
        Choice Schools, including management of teaching staff, writing school policies and development plans, ensuring
        standards are maintained and raised in line with DfE and Ofsted regulations, monitoring student performance and
        progress, monitoring IEPs and writing reports for PEPs, EHCP Annual Reviews and LAC reviews.</p>

      <p>For further information and enquiries about My Choice School please email Annie Murphy at:
        a.murphy@my-choice-homes.com</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>Enhance the self esteem of all students and promote positive behaviour.</li>
        <li>Develop achievement and skills in all students.</li>
        <li>Involve students and parents / carers in a holistic approach to education and build a successful partnership
          between home and school.
        </li>
        <li>Prepare students for adult life.</li>
        <li>Ensure all Year 11 students achieve a positive outcome of a place at post 16 provision or employment.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <figure class="col-xs-12">
      <img src="/assets/images/my-choice-school/school-chalkboard.jpg" alt="school chalkboard">
    </figure>
    <div class="col-xs-12">
      <strong>My Choice School</strong>
    </div>
    <figure class="col-xs-12">
      <img src="/assets/images/my-choice-school/school-happy.jpg" alt="school chalkboard">
    </figure>
  </div>
</div>
