p.mch-copyright {
  color: $white;
  background-color: $dark;
  padding: $space 1%;
  margin: 0 -$margin-xs;
  border-top: 1rem solid $darker;
  font-size: 1rem;
  text-align: right;
}

@media (min-width: 48em) {
  p.mch-copyright { margin: 0 -$margin-md; }
}
