footer.mch-footer {
  color: white;
  background-color: $teal;
  padding-top: $space;
  padding-bottom: $space;
  margin-top: $space;

  h4 {
    margin: $space 0;
    text-shadow: 0 0 0.2rem #363c4c;
  }

  a {
    color: white;
  }
}
