footer.mch-footer {
  color: white;
  background-color: $teal;
  padding-top: 1rem;
  padding-bottom: 1rem;

  h4 {
    margin: 1rem 0;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}
