aside.mch-links {
  position: absolute;
  right: 4%;
  bottom: 0;
  cursor: pointer;
  padding: .7rem 1rem .1rem .7rem;
  background: $white;
  text-shadow: none;
  color: $dark;

  span { display: inline-block; }

  nav {
    z-index: 2;
    position: absolute;
    left: 0;
    background-color: $white;
    text-shadow: none;
    width: 100%;
    overflow: hidden;

    a {
      display: block;
      font-weight: 600;
      text-decoration: none;
      padding: .5rem .7rem;
    }

    nav {
      position: relative;
      max-height: 100%;
      padding-left: $halfSpace;
    }
  }
}
