aside.mch-links {
  position: absolute;
  right: 4%;
  bottom: 0;
  cursor: pointer;
  padding: .5rem .5rem 0;
  background: $white;
  border-radius: .2rem .2rem 0 0;
  text-shadow: none;
  color: $dark;
  overflow: hidden;

  &.open {
    overflow: visible;

    nav { max-height: 30rem; }
    span { transform: scaleY(-1) translateY(18%); }
  }

  &.close {
    nav { max-height: 0; }
    span { transform: scaleY(1); }
  }

  span {
    display: inline-block;
    transition: .2s;
  }

  nav {
    transition: .1s;
    z-index: 1;
    position: absolute;
    left: 0;
    background-color: $white;
    text-shadow: none;
    width: 100%;
    min-height: 0;
    overflow: hidden;

    a {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;
      line-height: 2;
      padding: 0 $halfSpace;
    }

    nav {
      position: relative;
      max-height: 100%;
      padding-left: $halfSpace;
    }
  }
}
