nav.mch-links {
  display: flex;
  flex-direction: column;
  margin-bottom: $doubleSpace;
  font-weight: 600;

  nav {
    display: flex;
    flex-direction: column;
    padding-left: $halfSpace;
  }
}