// menu open body
@keyframes body-slide-left {
  from { left: 0; }
  to { left: -94%; }
}

@keyframes body-slide-right {
  from { left: -94%; }
  to { left: 0; }
}

body.navbar-open {
  overflow: hidden;
  animation-duration: .1s;
  animation-name: body-slide-left;
  position: relative;
  left: -94%;
}

body.navbar-close {
  animation-duration: .1s;
  animation-name: body-slide-right;
  position: relative;
  left: 0;
}

// generated fixed navbar
div.mch-fixed-nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: $white;
  box-shadow: 0 0 .3rem $dark;

  img.mch-logo {
    position: fixed;
    top: .5rem;
    left: 1%;
    width: 4rem;
    height: 3rem;
  }

  span.mch-menu-icon {
    position: absolute;
    top: 0.9rem;
    right: 1%;

    &:before { font-size: 2rem !important; }
  }
}

// navbar nav
body.navbar-open nav.mch-navbar {
  animation-duration: .1s;
  animation-name: slide-left;
  right: 0;
}

body.navbar-close nav.mch-navbar {
  animation-duration: .1s;
  animation-name: slide-right;
  right: -94%;
}

nav.mch-navbar {
  z-index: 2;
  position: fixed;
  top: 4rem;
  bottom: 0;
  right: -94%;
  background-color: $mauve-lighter;
  width: 94%;
  height: 100% -4rem;
  box-shadow: inset 0 0 .3rem $dark;
  overflow: auto;

  @keyframes slide-left {
    from { right: -94%; }
    to { right: 0; }
  }

  @keyframes slide-right {
    from { right: 0; }
    to { right: -94%; }
  }

  a {
    display: block;
    padding: $space;
    color: $white;
    text-decoration: none;
    border-bottom: 0.1rem solid $mauve-light;
  }
}

@media (min-width: 62em) {
  body.navbar-open, body.navbar-close { left: 0; }
  body.navbar-open nav.mch-navbar, body.navbar-close nav.mch-navbar { right: 0; }

  nav.mch-navbar {
    z-index: 4;
    top: 0;
    right: 0;
    padding: 0 1% 0 0;
    background-color: $white;
    width: 91%;
    height: 4rem;
    box-shadow: none;
    text-align: right;
    line-height: 4rem;
  }

  nav.mch-navbar a {
    display: inline;
    padding: 0;
    margin-right: $space;
    color: $dark;
    border-bottom: 0 none;

    &:nth-child(9) { margin-right: 0; }

    &:nth-child(10), &:nth-child(11) {
      display: none;
    }
  }
}

@media (min-width: 75em) {
  div.mch-fixed-nav img.mch-logo {
    width: 10rem;
    height: 8rem;
    background-color: $white;
    padding: 3.4rem 1.7rem 2rem 1rem;

    @keyframes shrink-logo {
      from {
        width: 10rem;
        height: 8rem;
        padding: 3.4rem 1.7rem 2rem 1rem;
      }
      to {
        width: 4rem;
        height: 3rem;
        padding: 0;
      }
    }

    @keyframes enlarge-logo {
      from {
        width: 4rem;
        height: 3rem;
        padding: 0;
      }
      to {
        width: 10rem;
        height: 8rem;
        padding: 3.4rem 1.7rem 2rem 1rem;
      }
    }

    &.shrink-logo {
      animation-duration: .2s;
      animation-name: shrink-logo;
      width: 4rem;
      height: 3rem;
      padding: 0;
    }

    &.enlarge-logo {
      animation-duration: .2s;
      animation-name: enlarge-logo;
      width: 10rem;
      height: 8rem;
      padding: 3.4rem 1.7rem 2rem 1rem;
    }
  }

  nav.mch-navbar {
    width: 94%;
    text-align: left;
  }
}
