div.mch-fixed-navbar {
  transition: all 1s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: white;
  width: 100%;
  height: 4rem;
  box-shadow: 0 0 0.3rem $dark;

  &.animate {
    opacity: .5;

    nav.mch-navbar a {
      visibility: hidden;
    }

    &:hover {
      opacity: 1;

      nav.mch-navbar a {
        visibility: visible;
      }
    }
  }

  .mch-logo img {
    width: 4rem;
    height: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .menu-icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @keyframes slide-from-right {
    from { right: -100%; }
    to { right: 0; }
  }

  @keyframes slide-to-right {
    from { right: 0; }
    to { right: -100%; }
  }

  nav.mch-navbar {
    animation-duration: .1s;
    animation-name: slide-to-right;
    position: fixed;
    top: 4rem;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $mauve-light;
    width: 90%;
    height: 100%;

    &.open {
      animation-name: slide-from-right;
      right: 0;
    }

    a {
      transition: .2s ease;
      display: flex;
      align-items: center;
      padding: 0 $space;
      color: $white;
      border-bottom: 0.1rem solid $mauve-lighter;
      text-decoration: none;

      &:last-child {
        border-bottom: 0 none;
      }

      &:hover {
        background-color: $mauve;
      }
    }
  }
}

@media (min-width: 75em) {
  div.mch-fixed-navbar {
    align-items: flex-start;

    &.animate {

      .mch-logo img {
        width: auto;
        max-height: 4rem;
        padding: 0.5rem 0;
      }
    }

    .mch-logo {

      img {
        position: fixed;
        width: 12.5rem;
        height: 14rem;
        background-color: white;
        padding: 4rem 2rem 3rem;
      }
    }

    .menu-icon-container {
      display: none;
    }

    nav.mch-navbar {
      position: relative;
      top: 0;
      right: 0;
      display: flex;
      background-color: $white;
      width: auto;
      height: auto;
      flex-direction: row;

      a {
        display: inherit;
        padding: 0 $space;
        color: $teal;
        border-bottom: 0 none;
        height: 4rem !important;

        &:hover {
          background-color: $white;
        }

        &:nth-child(10), &:nth-child(11) {
          display: none;
        }
      }
    }
  }
}
