div.mch-fixed-navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 4rem;

  img {
    width: 100%;
  }

  nav.mch-navbar {
    position: fixed;
    top: -100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem 0;
    width: 100%;
    height: 100%;

    &.open {
      top: 4rem;
    }

    a {
      padding: 0.5rem;
      border-bottom: 0.1rem dashed;
    }
  }
}
