section.tiles {
  padding: 0;

  div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #673147;
    color: #fff;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
  }
}