section.tiles {
  padding: 0;
  margin-bottom: $space;

  &.mauve-bg a {
    background-color: $mauve;

    &:hover {
      background-color: $mauve-light;
    }
  }

  &.teal-bg a {
    background-color: $teal;

    &:hover {
      background-color: $teal-light;
    }
  }

  .dark-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $dark;
    color: $white;
    padding: $halfSpace;
    font-size: 0.8rem;
    font-weight: 300;

    @extend .icon-md-round;

    h4 {
      margin-bottom: $space;
    }
  }

  a {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: $white;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  a, figure {
    transition: .2s ease;
  }

  figure, div {
    padding: 0;
    margin: 0;
  }

  figure img {
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0);
    }
  }
}

@media only screen and (min-width: 34em) {
  section.tiles {
    padding: 0 $space;
  }
}
