section.tiles {
  padding: 0;
  margin-bottom: 1rem;

  &.mauve-bg a {
    background-color: $mauve;

    &:hover {
      background-color: $mauve-light;
    }
  }

  &.teal-bg a {
    background-color: $teal;

    &:hover {
      background-color: $teal-light;
    }
  }

  .dark-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    color: $white;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
  }

  a {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: $white;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  figure, div {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width : 992px) {
  section.tiles {
    padding: 0 0.9375rem;
  }
}