<div class="container mch-contact-us">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="row">
        <figure class="col-xs-12 col-sm-4 col-md-12">
          <img class="img-thumbnail" src="/assets/images/contact-us/contact-us.jpg" alt="contact us">
        </figure>

        <address class="col-xs-12 col-sm-8 col-md-12">
          <strong>Head office address</strong><br>
          Unit 3a Mill Green Business Estate<br>
          Mill Green Road<br>
          Hayward's Heath<br>
          West Sussex<br>
          RH16 1XQ
        </address>

        <address class="col-xs-12">
          <p>
            <strong>Telephone</strong><br>
            <a href="tel:01444 446920">01444 446920</a>
          </p>
          <p>
            <strong>Fax</strong><br>
            01444 446929
          </p>
        </address>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-6">
      <form name="contact" novalidate>
        <h3>Send us a message here</h3>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="enter your name">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="enter your email">
        </div>

        <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="tel" class="form-control" id="telephone" placeholder="enter your number">
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
