<form class="mch-block-1" name="contact" novalidate>
  <h2>Send us a message</h2>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="enter your name">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="enter your email">
  </div>

  <div class="form-group">
    <label for="telephone">Telephone</label>
    <input type="tel" class="form-control" id="telephone" placeholder="enter your number">
  </div>

  <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
  </div>

  <div class="g-recaptcha" data-sitekey="6LcMbhsTAAAAABZVU6HGgNw8LG3h2mM9bLevXY4c"></div>

  <button type="submit" class="mch-btn">Submit</button>
</form>

<aside class="mch-block-2">
  <figure>
    <img src="/assets/images/contact-us/contact-us.jpg" alt="contact us">
  </figure>

  <address>
    <strong>Head office address</strong><br>
    Unit 3a Mill Green Business Estate<br>
    Mill Green Road<br>
    Hayward's Heath<br>
    West Sussex<br>
    RH16 1XQ
  </address>

  <address>
    <p><b>Telephone</b><br>
      <a href="tel:01444446920">01444 446920</a></p>
    <p><b>Fax</b><br>
      01444 446929</p>
  </address>
</aside>
