<div class="container mch-contact-us">
  <div class="row">

    <figure class="col-xs-12 col-sm-5 col-md-6 col-lg-4 col-xl-6 mch-fig-a">
      <img src="/assets/images/contact-us/contact-us.jpg" alt="contact us">
    </figure>

    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-8 col-xl-6 mch-pre-block">
      <address class="mch-block">
        <strong>Head office address</strong><br>
        Unit 3a Mill Green Business Estate<br>
        Mill Green Road<br>
        Hayward's Heath<br>
        West Sussex<br>
        RH16 1XQ
      </address>
    </div>

    <div class="col-xs-12 col-lg-6 col-xl-6 mch-pre-block">
      <address class="mch-block">
        <strong>Telephone</strong><br>
        <a href="tel:01444 446920">01444 446920</a><br>

        <strong>Fax</strong><br>
        01444 446929
      </address>
    </div>

    <form class="col-xs-12 col-lg-6 col-xl-6" name="contact" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="enter your name">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="enter your email">
      </div>

      <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="tel" class="form-control" id="telephone" placeholder="enter your number">
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
