body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 4rem;
}

h1, h2 {
  font-weight: 600;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: $doubleSpace;
}

section h2, h3 {
  padding-bottom: $halfSpace;
  margin-bottom: $space;
  border-bottom: 0.2rem solid $mauve-lighter;
}

h4 a {
  text-decoration: none;
}

a {
  color: $mauve-lighter;
  text-decoration: underline;

  &:hover {
    color: $mauve;
  }
}

img {
  width: 100%;
}

figure, .card {
  margin: 0 0 $space;
}

figcaption {
  padding: $halfSpace;
}

blockquote {
  border-left: $halfSpace solid #eee;
  padding: 0 $space;
  margin: $space 0 $space 0;
}

hr {
  margin: $doubleSpace 0;
}