$mch-colour-key: 'base' !default;

$mch-colours: (
    'mauve': (
        'base': #673147,
        'light': #7E365A,
        'lighter': #C44F7F
    ),
    'teal': (
        'base': #316267,
        'light': #41848a,
        'lighter': #3abcc9
    ),
    'yellow': (
        'base': #ffb911
    ),
    'utility': (
        'white': #ffffff,
        'gray': #eeeeee,
        'dark': #2d2d2d,
        'darker': #1b1b1b,
        'past': #f5f2dc
    )
);

@function mch-colour(
  $name: 'mauve',
  $variant: $mch-colour-key
) {
  $colour: null;
  $colour-spectrum: map-get($mch-colours, $name);

  @if $colour-spectrum {
    $colour: map-get($colour-spectrum, $variant);
  }

  @return $colour;
}

