$margin: 5%;
$margin-xs: 2%;
$margin-md: 1%;

$space: 1rem;
$doubleSpace: $space * 2;
$halfSpace: $space / 2;

$mauve: mch-colour('mauve');
$mauve-light: mch-colour('mauve', 'light');
$mauve-lighter: mch-colour('mauve', 'lighter');
$teal: mch-colour('teal');
$teal-light: mch-colour('teal', 'light');
$teal-lighter: mch-colour('teal', 'lighter');
$yellow: mch-colour('yellow');
$white: mch-colour('utility', 'white');
$gray: mch-colour('utility', 'gray');
$dark: mch-colour('utility', 'dark');
$darker: mch-colour('utility', 'darker');
$past: mch-colour('utility', 'past');
